/*
 * Tea Theme Options v1.0.1 - "Snake, Snake, SNAAAAAAAAAAAAAAAAAAAAAAAKE!!!"
 * Copyright 2012 Take a Tea
 * By Take a Tea <takeatea.com> :)
 */


/*--- [SMALLBOXES] ---*/
.tea_to.wrap .inside.count_98 .smallbox,
.tea_to.wrap .inside.count_50 .smallbox,
.tea_to.wrap .inside.count_33 .smallbox,
.tea_to.wrap .inside.count_25 .smallbox {
    float:left;
}
.tea_to.wrap .inside.count_98 .smallbox {
    margin-left:1%;
    margin-right:1%;
    width:98%;
}
.tea_to.wrap .inside.count_50 .smallbox {
    margin-left:1%;
    width:49%;
}
.tea_to.wrap .inside.count_33 .smallbox {
    margin-right:1%;
    width:32%;
}
.tea_to.wrap .inside.count_25 .smallbox {
    margin-left:1%;
    width:24%;
}

/*--- [ALERTS] ---*/
.tea_to.wrap .alert {
    background-color:#fcf8e3;
    border:1px solid #fbeed5;
    color:#c09853;
    padding:0 10px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.tea_to.wrap .alert h4 {
    margin:0;
}
.tea_to.wrap .alert .close {
    line-height:20px;
    position:relative;
    right:-21px;
    top:-2px;
}
.tea_to.wrap .alert-success {
    background-color:#dff0d8;
    border-color:#d6e9c6;
    color:#468847;
}

/*--- [INSIDES] ---*/
.tea_to.wrap .inside p {
    margin:5px 0;
}
.tea_to.wrap textarea:focus,
.tea_to.wrap input[type="text"]:focus,
.tea_to.wrap input[type="password"]:focus,
.tea_to.wrap input[type="datetime"]:focus,
.tea_to.wrap input[type="datetime-local"]:focus,
.tea_to.wrap input[type="date"]:focus,
.tea_to.wrap input[type="month"]:focus,
.tea_to.wrap input[type="time"]:focus,
.tea_to.wrap input[type="week"]:focus,
.tea_to.wrap input[type="number"]:focus,
.tea_to.wrap input[type="email"]:focus,
.tea_to.wrap input[type="url"]:focus,
.tea_to.wrap input[type="search"]:focus,
.tea_to.wrap input[type="tel"]:focus,
.tea_to.wrap input[type="color"]:focus {
    border:1px solid #99d5f1;
    color:#21759b;
    outline:0;
    outline:thin dotted \9;
}
.tea_to.wrap textarea,
.tea_to.wrap select,
.tea_to.wrap .inside input[type='text'],
.tea_to.wrap .inside input[type='password'],
.tea_to.wrap .inside input[type='file'] {
    width:98%;
}
.tea_to.wrap .inside textarea {
    resize:none;
}
.tea_to.wrap .inside select {
    height:100%;
}

/*--- [CHECKBOXES] ---*/
.tea_to.wrap .inside.checkbox label {
    background-color:#fff;
    border-left:5px solid #e5f1f7;
    display:block;
    padding:5px;
}
.tea_to.wrap .inside.checkbox label.selected {
    border-left:5px solid #298cba;
}
.tea_to.wrap .inside.checkbox label:hover {
    background-color:#e5f1f7;
}
.tea_to.wrap .inside.checkbox label img {
    vertical-align:middle;
}

/*--- [RADIO BUTTONS] ---*/
.tea_to.wrap .inside.radio label {
    background-color:#fff;
    display:block;
    padding:5px;
}
.tea_to.wrap .inside.radio label:hover {
    background-color:#e5f1f7;
}

/*--- [CHECKBOXES & RADIO BUTTONS & IMAGES] ---*/
.tea_to.wrap .inside.checkbox label.selected,
.tea_to.wrap .inside.radio label.selected,
.tea_to.wrap .inside.image label.selected {
    color:#298cba;
}

/*--- [COLORS] ---*/
.tea_to.wrap .inside.color input.color-picker {
    width:100px;
}

/*--- [IMAGES] ---*/
.tea_to.wrap .inside.image label {
    float:left;
    margin:0 10px 10px 0;
    text-align:center;
}
.tea_to.wrap .inside.image label img {
    border:5px solid #fff;
    display:block;
}
.tea_to.wrap .inside.image label:hover img {
    border:5px solid #e5f1f7;
}
.tea_to.wrap .inside.image label.selected img {
    border:5px solid #298cba;
}
.tea_to.wrap .inside.image label .image-to-show {
    position:relative;
}
.tea_to.wrap .inside.image label .image-to-show span {
    background:#e5f1f7;
    bottom:0;
    color:#000;
    display:none;
    left:0;
    padding:5px;
    position:absolute;
}
.tea_to.wrap .inside.image label:hover .image-to-show span {
    display:block;
}
.tea_to.wrap .inside.image label.selected .image-to-show span {
    background:#298cba;
    color:#fff;
    display:block;
}

/*--- [UPLOADS] ---*/
.tea_to.wrap .inside .upload_image_result {
    margin-top:10px;
    text-align:center;
}
.tea_to.wrap .inside .upload_image_result a {
    display:block;
    margin-bottom:5px;
}
.tea_to.wrap .inside .upload_image_result img {
    background:url(../img/bg-upload.png) 0 0;
    margin:0 1px;
    max-width:90%;
    padding:10px;
    vertical-align:middle;
}

