/*
 * Tea Theme Options v1.4.6 - "BAAAAAAAAAAAAAkkkkaaaaa - Gintama"
 * Copyright 2013 Take a Tea
 * By Take a Tea <takeatea.com> :)
 */


/*--- [IMPORTS] ---*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);


/*--- [CLEARFIX] ---*/
.clearfix {
    *zoom:1;
}
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
    line-height:0;
}
.clearfix:after {
    clear:both;
}


/*--- [DASHBOARD] ---*/
.tea_to.wrap .accordion-section-content {
    padding:15px;
}
.tea_to.wrap .tea-nav-menus-frame {
    display:block;
    margin-left:300px;
    margin-top:23px;
}
.tea_to.wrap .tea-menu-settings-column {
    clear:both;
    display:inline;
    float:left;
    margin-left:-300px;
    padding-top:0 !important;
    width:281px;
}
.tea_to.wrap .tea-menu-settings-column .label-add-page {
    display:block;
    margin-bottom:10px;
}
.tea_to.wrap .tea-menu-settings-column .label-add-page span {
    display:block;
}
.tea_to.wrap .tea-menu-settings-column .inside {
    background-color:#fff;
    border:1px solid #dfdfdf;
    margin:0 !important;
    padding:10px;
}
.tea_to.wrap .dashboard-page-listing li {
    margin:0;
    padding:5px 0;
}
.tea_to.wrap .dashboard-page-listing a {
    display:block;
    text-decoration:none;
}
.tea_to.wrap .dashboard-page-listing a:hover {
    text-decoration:underline;
}
.tea_to.wrap .dashboard-page-listing .active a {
    color:#000;
    font-weight:700;
}
.tea_to.wrap .tea-menu-management-liquid {
    float:left;
    margin-top:3px;
    min-width:100%;
}
.tea_to.wrap .tea-dashoard-content {
    display:none;
    margin-right:20px;
    margin-top:-3px;
    position:relative;
    width:100%;
}
.tea_to.wrap .tea-dashoard-content.open {
    display:block;
}
.tea_to.wrap .tea-dashoard-content .menu-edit {
    background-color:#fdfdfd;
    border:1px solid #dfdfdf;
    margin-bottom:20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.tea_to.wrap .tea-dashoard-content .tea-nav-menu-header {
    border-bottom:1px solid #dfdfdf;
    padding:0 10px;
}
.tea_to.wrap .tea-dashoard-content .tea-nav-menu-footer {
    border-top:1px solid #fff;
    padding:0 10px;
}
.tea_to.wrap .tea-dashoard-content .tea-nav-menu-header,
.tea_to.wrap .tea-dashoard-content .tea-nav-menu-footer {
    background:#f1f1f1;
    background-image:-webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
    background-image:-webkit-linear-gradient(bottom,#ececec,#f9f9f9);
    background-image:-moz-linear-gradient(bottom,#ececec,#f9f9f9);
    background-image:-o-linear-gradient(bottom,#ececec,#f9f9f9);
    background-image:linear-gradient(to top,#ececec,#f9f9f9);
}
.tea_to.wrap .tea-edit-screen {
    background-color:#f1f1f1;
    border-bottom:1px solid #ccc;
    display:none;
    margin:0;
    padding:10px;
    position:relative;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.05);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.05);
    box-shadow:0 1px 3px rgba(0,0,0,0.05);
}
.tea_to.wrap .tea-edit-screen-link {
    margin:0 24px 0 0;
}
.tea_to.wrap .tea-edit-screen-link .screen-meta-toggle {
    background:#e3e3e3;
    background-image:-webkit-gradient(linear,left bottom,left top,from(#dfdfdf),to(#f1f1f1));
    background-image:-webkit-linear-gradient(bottom,#dfdfdf,#f1f1f1);
    background-image:-moz-linear-gradient(bottom,#dfdfdf,#f1f1f1);
    background-image:-o-linear-gradient(bottom,#dfdfdf,#f1f1f1);
    background-image:linear-gradient(to top,#dfdfdf,#f1f1f1);
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    float:right;
    font-family:sans-serif;
    height:23px;
    margin:0 0 0 6px;
    padding:0;
    position:relative;
    top:-1px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.tea_to.wrap .tea-edit-screen-link .show-settings {
    background:transparent url(../img/teato/arrows.png) no-repeat right 4px;
    color:#777;
    display:block;
    font-size:12px;
    height:22px;
    line-height:22px;
    padding:1px 16px 0 6px;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(255,255,255,0.7);
    z-index:1;
}
.tea_to.wrap .tea-edit-screen-link .show-settings.screen-meta-active {
    background-position:right -31px;
}
.tea_to.wrap .tea-post-body {
    padding:0 15px;
}
.tea_to.wrap .tea-edit-screen .label-add-content {
    display:block;
    margin-bottom:10px;
}
.tea_to.wrap .tea-edit-screen .label-add-content span {
    display:block;
}
.tea_to.wrap .tea-edit-screen .label-add-content input,
.tea_to.wrap .tea-edit-screen .label-add-content select {
    width:100%;
}
.tea_to.wrap .tea-post-body .dashboard-add-content {
    background-color:#fff;
    border:1px solid #dfdfdf;
    margin:10px 0 20px;
    padding:10px;
}
.tea_to.wrap .dashboard-add-content .label-add-content {
    display:inline-block;
    float:left;
    height:26px;
    line-height:24px;
}
.tea_to.wrap .dashboard-add-content .label-add-content span {
    display:inline-block;
}
.tea_to.wrap .dashboard-add-content .label-add-content select {
    width:200px;
}
.tea_to.wrap .dashboard-add-content input {
    float:left;
    margin:1px 0 0 5px;
}
.tea_to.wrap .dashboard-content {
    background-color:#fff;
    border:1px solid #dfdfdf;
    margin:10px 0 20px;
    padding:10px;
}
.tea_to.wrap .dashboard-content .content-id {
    color:#777;
    display:block;
    float:right;
    font-style:italic;
    height:20px;
    line-height:20px;
    margin-right:2px;
}
.tea_to.wrap .dashboard-content .delete {
    color:#bc0b0b;
    display:block;
    height:20px;
    line-height:20px;
    text-decoration:none;
}
.tea_to.wrap .dashboard-content .delete:hover {
    color:red;
}
.tea_to.wrap .dashboard-content h4 {
    margin:0 0 10px;
}
.tea_to.wrap .dashboard-content p {
    display:block;
    margin-bottom:10px;
}
.tea_to.wrap .dashboard-content .label-edit-options .label-model,
.tea_to.wrap .dashboard-content .label-edit-options {
    display:none;
}
.tea_to.wrap .dashboard-content .label-option,
.tea_to.wrap .dashboard-content .label-first,
.tea_to.wrap .dashboard-content .label-second,
.tea_to.wrap .dashboard-content .label-third {
    float:left;
    line-height:24px;
    margin-bottom:5px;
}
.tea_to.wrap .dashboard-content .label-option {
    width:10%;
}
.tea_to.wrap .dashboard-content .label-first {
    width:90%;
}
.tea_to.wrap .dashboard-content .label-second {
    width:45%;
}
.tea_to.wrap .dashboard-content .label-third {
    width:30%;
}
.tea_to.wrap .tea-menu-edit .label-edit-image label {
    display:block;
    float:left;
    height:24px;
    margin:0 10px 10px 0;
    width:180px;
}
.tea_to.wrap .tea-menu-edit .label-edit-image img {
    float:left;
    margin:0 5px 0 0;
}
.tea_to.wrap .tea-menu-edit .label-edit-image span {
    display:block;
    line-height:24px;
}
.tea_to.wrap .tea-menu-edit .label-edit-image input[type="radio"] {
    margin-right:5px;
}
.tea_to.wrap .tea-menu-edit .label-edit-content {
    display:block;
    margin-bottom:10px;
}
.tea_to.wrap .tea-menu-edit .label-edit-content span {
    display:block;
}
.tea_to.wrap .tea-menu-edit .label-edit-content input[type="number"],
.tea_to.wrap .tea-menu-edit .label-edit-content input[type="range"],
.tea_to.wrap .tea-menu-edit .label-edit-content input[type="text"],
.tea_to.wrap .tea-menu-edit .label-edit-content select,
.tea_to.wrap .tea-menu-edit .label-edit-content textarea {
    width:100%;
}
.tea_to.wrap .tea-menu-edit .label-edit-options select,
.tea_to.wrap .tea-menu-edit .label-edit-options input,
.tea_to.wrap .tea-menu-edit .label-edit-options input[type="text"] {
    width:98%;
}
.tea_to.wrap .tea-menu-edit .label-edit-options input.label-button {
    width:100%;
}


/*--- [MODAL] ---*/
.tea-shortcodes .media-modal-backdrop {
    background:#000;
    bottom:0;
    left:0;
    min-height:360px;
    opacity:.7;
    position:fixed;
    right:0;
    top:0;
    z-index:159900;
}
.tea-shortcodes .media-modal {
    bottom:auto;
    font-family:sans-serif;
    font-size:12px;
    left:50%;
    margin-left:-250px;
    position:fixed;
    right:auto;
    top:30px;
    width:500px;
    z-index:160000;
}
.tea-shortcodes .media-modal-close {
    height:30px;
    position:absolute;
    right:7px;
    top:7px;
    width:30px;
    z-index:1000;
}
.tea-shortcodes .media-modal-content {
    background:#fff;
    bottom:0;
    left:0;
    min-height:300px;
    overflow:auto;
    position:absolute;
    right:0;
    top:0;
}
.tea-shortcodes .media-frame {
    bottom:0;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
}
.tea-shortcodes .media-frame.hide-submit .media-frame-content {
    bottom:10px;
}
.tea-shortcodes .media-frame.hide-submit .media-frame-toolbar {
    display:none;
}
.tea-shortcodes .media-frame-title {
    height:45px;
    left:0;
    position:absolute;
    right:0;
    top:0;
    z-index:200;
}
.tea-shortcodes .media-frame-title h1 {
    font-size:22px;
    font-weight:200;
    line-height:45px;
    margin:0;
    padding:0 16px;
}
.tea-shortcodes .media-frame-router {
    border-bottom:1px solid #dfdfdf;
    height:30px;
    left:0;
    position:absolute;
    right:0;
    top:45px;
    z-index:200;
    -webkit-box-shadow:0 4px 4px -4px rgba(0,0,0,.1);
    -moz-box-shadow:0 4px 4px -4px rgba(0,0,0,.1);
    box-shadow:0 4px 4px -4px rgba(0,0,0,.1);
}
.tea-shortcodes .media-router {
    clear:both;
    margin:0;
    padding:0 6px;
    position:relative;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.tea-shortcodes .media-router > a {
    border-bottom:0;
    float:left;
    font-size:14px;
    height:18px;
    line-height:18px;
    margin:0;
    padding:2px 10px;
    position:relative;
    text-decoration:none;
    text-shadow:0 1px 0 #fff;
}
.tea-shortcodes .media-router .active:after {
    background:#fff;
    content:'';
    display:block;
    height:7px;
    margin:-100px auto 0;
    width:7px;
    z-index:300;
    -webkit-box-shadow:1px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow:1px 1px 1px rgba(0,0,0,.2);
    box-shadow:1px 1px 1px rgba(0,0,0,.2);
    -webkit-transform:rotate(45deg) translate(75px,75px);
    -moz-transform:rotate(45deg) translate(75px,75px);
    -ms-transform:rotate(45deg) translate(75px,75px);
    -o-transform:rotate(45deg) translate(75px,75px);
    transform:rotate(45deg) translate(75px,75px);
}
.tea-shortcodes .media-frame-toolbar {
    left:0;
}
.tea-shortcodes .media-frame-content {
    bottom:61px;
    height:auto;
    left:10px;
    margin:0;
    overflow:auto;
    position:absolute;
    right:10px;
    top:75px;
    width:auto;
}
.tea-shortcodes #tea-content {
    padding-top:10px;
}
.tea-shortcodes .setting-html {
    clear:both;
    display:block;
}
.tea-shortcodes .setting {
    float:none;
}
.tea_to.wrap pre {
    font-family:"roboto",courier,arial;
    font-size:14px;
    line-height:18px;
    padding:0 10px;
    white-space:pre-wrap;
}


/*--- [SMALLBOXES] ---*/
.tea_to.wrap .inside.count_98 .smallbox,
.tea_to.wrap .inside.count_50 .smallbox,
.tea_to.wrap .inside.count_33 .smallbox,
.tea_to.wrap .inside.count_25 .smallbox {
    float:left;
}
.tea_to.wrap .inside.count_98 .smallbox {
    margin-left:1%;
    margin-right:1%;
    width:98%;
}
.tea_to.wrap .inside.count_50 .smallbox {
    margin-left:1%;
    width:49%;
}
.tea_to.wrap .inside.count_33 .smallbox {
    margin-right:1%;
    width:32%;
}
.tea_to.wrap .inside.count_25 .smallbox {
    margin-left:1%;
    width:24%;
}


/*--- [ALERTS] ---*/
.tea_to.wrap .alert {
    background-color:#fcf8e3;
    border:1px solid #fbeed5;
    color:#c09853;
    padding:0 10px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.tea_to.wrap .alert h4 {
    margin:0;
}
.tea_to.wrap .alert .close {
    line-height:20px;
    position:relative;
    right:-21px;
    top:-2px;
}
.tea_to.wrap .alert-success {
    background-color:#dff0d8;
    border-color:#d6e9c6;
    color:#468847;
}


/*--- [INSIDES] ---*/
#poststuff h2.tea-clear {
    margin-top:0;
}
.tea_to_wrap .inside p {
    margin:5px 0;
}
.tea_to_wrap textarea:focus,
.tea_to_wrap input[type="text"]:focus,
.tea_to_wrap input[type="password"]:focus,
.tea_to_wrap input[type="datetime"]:focus,
.tea_to_wrap input[type="datetime-local"]:focus,
.tea_to_wrap input[type="date"]:focus,
.tea_to_wrap input[type="month"]:focus,
.tea_to_wrap input[type="time"]:focus,
.tea_to_wrap input[type="week"]:focus,
.tea_to_wrap input[type="number"]:focus,
.tea_to_wrap input[type="email"]:focus,
.tea_to_wrap input[type="url"]:focus,
.tea_to_wrap input[type="search"]:focus,
.tea_to_wrap input[type="tel"]:focus,
.tea_to_wrap input[type="color"]:focus {
    border:1px solid #99d5f1;
    color:#21759b;
    outline:0;
    outline:thin dotted \9;
}
.tea_to_wrap textarea,
.tea_to_wrap select,
.tea_to_wrap .inside input[type="text"],
.tea_to_wrap .inside input[type="password"],
.tea_to_wrap .inside input[type="datetime"],
.tea_to_wrap .inside input[type="datetime-local"],
.tea_to_wrap .inside input[type="date"],
.tea_to_wrap .inside input[type="month"],
.tea_to_wrap .inside input[type="time"],
.tea_to_wrap .inside input[type="week"],
.tea_to_wrap .inside input[type="number"],
.tea_to_wrap .inside input[type="email"],
.tea_to_wrap .inside input[type="url"],
.tea_to_wrap .inside input[type="search"],
.tea_to_wrap .inside input[type="tel"],
.tea_to_wrap .inside input[type='file'] {
    width:98%;
}
.tea_to_wrap .inside textarea {
    resize:none;
}


/*--- [RTE] ---*/
.tea_to_wrap .inside-rte {
    margin-bottom:20px;
}


/*--- [LISTING] ---*/
.tea_to_wrap .listing {
    list-style:disc;
    margin-left:30px;
}
.tea_to_wrap .features-list li {
    float:left;
    margin:0 1% 10px;
    padding-bottom:25px;
    position:relative;
    width:23%;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,.4);
    -moz-box-shadow:0 1px 4px rgba(0,0,0,.4);
    box-shadow:0 1px 4px rgba(0,0,0,.4);
}
.tea_to_wrap .features-list li:nth-child(4n+1) {
    clear:left;
}
.tea_to_wrap .features-list h4,
.tea_to_wrap .features-list p {
    padding:0 10px;
}
.tea_to_wrap .features-list p {
    height:74px;
    margin-bottom:0;
}
.tea_to_wrap .features-list pre {
    display:none;
    font-family:"roboto",courier,arial;
    font-size:14px;
    line-height:14px;
    white-space:pre-wrap;
}
.tea_to_wrap .features-list a {
    background:#f5f5f5;
    bottom:0;
    color:#dfdfdf;
    display:block;
    left:0;
    padding:5px 0;
    position:absolute;
    text-align:center;
    text-decoration:none;
    width:100%;
}
.tea_to_wrap .features-list li:hover a {
    color:#21759b;
}
.tea_to_wrap .features-list li a:hover {
    color:#d54e21;
}


/*--- [BACKGROUND] ---*/
.tea_to_wrap .inside.background hr {
    border:1px solid #ececec;
    margin:5px 0 20px;
}
.tea_to_wrap .inside.background .bg-image label {
    float:left;
    margin:0 10px 10px 0;
    text-align:center;
}
.tea_to_wrap .inside.background .bg-image label img {
    border:5px solid #fff;
    display:block;
}
.tea_to_wrap .inside.background .bg-image label:hover img {
    border:5px solid #e5f1f7;
}
.tea_to_wrap .inside.background .bg-image label.selected img {
    border:5px solid #298cba;
}
.tea_to_wrap .inside.background .bg-details {
    float:left;
    width:33%;
}
.tea_to_wrap .inside.count_25 .bg-details,
.tea_to_wrap .inside.count_33 .bg-details,
.tea_to_wrap .inside.count_50 .bg-details {
    width:100%;
}
.tea_to_wrap .inside.background .bg-details select {
    float:left;
    width:49%;
}


/*--- [CHECKBOXES] ---*/
.tea_to_wrap .checkall {
    float:right;
    font-size:12px;
    line-height:20px;
}
.tea_to_wrap .inside.checkbox {
    background:#fff;
}
.tea_to_wrap .inside.checkbox label {
    background-color:#fff;
    border-left:5px solid #e5f1f7;
    display:block;
    padding:5px;
}
.tea_to_wrap .inside.checkbox label.selected {
    border-left:5px solid #298cba;
}
.tea_to_wrap .inside.checkbox label:hover {
    background-color:#e5f1f7;
}
.tea_to_wrap .inside.checkbox label img {
    vertical-align:middle;
}


/*--- [CHECKBOXES & RADIO BUTTONS & IMAGES] ---*/
.tea_to_wrap .inside label.selected {
    color:#298cba;
}


/*--- [COLORS] ---*/
.tea_to_wrap .inside input.color-picker {
    width:100px;
}


/*--- [IMAGES] ---*/
.tea_to_wrap .inside.image label {
    float:left;
    margin:0 10px 10px 0;
    text-align:center;
}
.tea_to_wrap .inside.image label img {
    border:5px solid #fff;
    display:block;
}
.tea_to_wrap .inside.image label:hover img {
    border:5px solid #e5f1f7;
}
.tea_to_wrap .inside.image label.selected img {
    border:5px solid #298cba;
}


/*--- [IMAGE-TO-SHOW] ---*/
.tea_to_wrap .inside label .image-to-show {
    position:relative;
}
.tea_to_wrap .inside label .image-to-show span {
    background:#e5f1f7;
    bottom:0;
    color:#000;
    display:none;
    left:0;
    padding:5px;
    position:absolute;
}
.tea_to_wrap .inside label:hover .image-to-show span {
    display:block;
}
.tea_to_wrap .inside label.selected .image-to-show span {
    background:#298cba;
    color:#fff;
    display:block;
}


/*--- [RADIO] ---*/
.tea_to_wrap .inside .bg-repeat label,
.tea_to_wrap .inside.radio label {
    background-color:#fff;
    display:block;
    padding:5px;
}
.tea_to_wrap .inside .bg-repeat label:hover,
.tea_to_wrap .inside.radio label:hover {
    background-color:#e5f1f7;
}


/*--- [GOOGLE FONT] ---*/
.tea_to_wrap .inside.gfont label {
    float:left;
    height:50px;
    margin:0 10px 10px 0;
    text-align:center;
    width:200px;
}
.tea_to_wrap .inside.gfont label span {
    border:5px solid #fff;
    display:block;
    font-size:18px;
    height:25px;
    line-height:25px;
    max-height:25px;
}
.tea_to_wrap .inside.gfont label:hover span {
    border:5px solid #e5f1f7;
}
.tea_to_wrap .inside.gfont label.selected span {
    border:5px solid #298cba;
}


/*--- [SOCIALS] ---*/
.tea_to_wrap .inside.social div {
    margin:0 0 10px 0;
}
.tea_to_wrap .inside.social label {
    display:inline-block;
    margin:0 10px 0 0;
    text-align:center;
}
.tea_to_wrap .inside.social label img {
    border:5px solid #fff;
    vertical-align:middle;
}
.tea_to_wrap .inside.social label:hover img {
    border:5px solid #e5f1f7;
}
.tea_to_wrap .inside.social label.selected img {
    border:5px solid #298cba;
}
.tea_to_wrap .inside.social input[type="text"] {
    display:inline-block;
    margin:0 10px 0 0;
    width:300px;
}


/*--- [UPLOADS] ---*/
.tea_to_wrap .inside .customized {
    padding:0 0 10px 0;
}
.tea_to_wrap .inside .upload_image_result {
    margin-top:10px;
    text-align:center;
}
.tea_to_wrap .inside .upload_image_result figure {
    display:block;
    margin-bottom:10px;
    opacity:1;
    padding:10px 0 0;
}
.tea_to_wrap .inside .upload_image_result figure img {
    background:url(../img/teato/bg-upload.png) 0 0;
    margin:0 1px;
    max-width:100%;
    padding:10px;
    vertical-align:middle;
}
.tea_to_wrap .inside .upload_image_result ul {
    list-style:none;
}
.tea_to_wrap .inside .upload_image_result li {
    display:inline-block;
    height:150px;
    margin:0 10px 10px 0;
    opacity:1;
    padding:5px;
    vertical-align:top;
    width:150px;
}
.tea_to_wrap .inside .upload_image_result li img {
    background:url(../img/teato/bg-upload.png) 0 0;
    max-height:120px;
    max-width:130px;
    padding:5px;
}
.tea_to_wrap .inside .upload_image_result .delete {
    color:#bc0b0b;
    display:block;
    height:20px;
    line-height:20px;
    text-align:center;
    text-decoration:none;
}
.tea_to_wrap .delall {
    color:#bc0b0b;
    float:right;
    font-size:12px;
    line-height:20px;
    text-decoration:none;
}
.tea_to_wrap .delall:hover,
.tea_to_wrap .inside .upload_image_result .delete:hover {
    color:red;
}


/*--- [CONNECTION BOX] ---*/
.tea_to.wrap .tea-screen-meta {
    background-color:#f1f1f1;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    display:block;
    margin:0 15px 20px 5px;
    position:relative;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.05);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.05);
    box-shadow:0 1px 3px rgba(0,0,0,0.05);
}
.tea_to.wrap .tea-contextual-help-wrap {
    margin:0 0 0 -4px;
    overflow:auto;
    padding:0;
    position:relative;
}
.tea_to.wrap .tea-contextual-help-back {
    background-color:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:0 1px;
    bottom:0;
    left:220px;
    position:absolute;
    right:20px;
    top:0;
}
.tea_to.wrap .tea-contextual-help-columns {
    position:relative;
}
.tea_to.wrap .contextual-help-tabs {
    width:220px;
}
.tea_to.wrap .contextual-help-tabs h2 {
    padding-left:16px !important;
}
.tea_to.wrap .contextual-help-tabs h2 img {
    vertical-align:middle;
}
.tea_to.wrap .contextual-help-tabs .submitdelete {
    background:transparent;
    border:none;
    color:#bc0b0b;
    cursor:pointer;
    margin:0 0 10px 11px;
}
.tea_to.wrap .contextual-help-tabs .submitdelete:hover {
    color:red;
    text-decoration:underline;
}
.tea_to.wrap .contextual-help-tabs-wrap {
    padding:15px 20px;
    position:relative;
}


/*--- [NETWORK GLOBAL PROFILE] ---*/
.tea_to.wrap .network-profile {
    border:5px solid #e5f1f7;
    float:left;
    margin:0 20px 10px 0;
    max-height:58px;
}
.tea_to.wrap .network-fullname {
    font-size:18px;
    font-weight:700;
}
.tea_to.wrap .network-counts li {
    background-color:#e5f1f7;
    display:inline-block;
    margin:0 18px 0 0;
    padding:10px 20px;
    text-align:center;
}
.tea_to.wrap .network-counts span {
    color:#298cba;
    display:block;
}
.tea_to.wrap .network-sep {
    margin-right:20px;
}
.tea_to.wrap .network-recent li {
    border:5px solid #e5f1f7;
    display:inline-block;
    margin:10px;
    position:relative;
    text-align:center;
}
.tea_to.wrap .network-recent.twitter-text li {
    border-width:0 0 2px 0;
    display:block;
    padding-bottom:10px;
    text-align:left;
}
.tea_to.wrap .network-recent a,
.tea_to.wrap .network-recent img {
    display:block;
}
.tea_to.wrap .network-recent a {
    display:inline;
}
.tea_to.wrap .network-recent div {
    background-color:#e5f1f7;
    color:#298cba;
    height:30px;
    line-height:30px;
}
.tea_to.wrap .network-recent span {
    background-color:transparent;
    background-position:0 50%;
    background-repeat:no-repeat;
    display:inline-block;
    padding-left:20px;
    padding-right:10px;
}
.tea_to.wrap .network-recent .comments {
    background-image:url(../img/network/comments.png);
}
.tea_to.wrap .network-recent .likes {
    background-image:url(../img/network/likes.png);
}


/*--- [CUSTOM POST TYPES] ---*/
.meta-box-sortables.ui-sortable .inside .stuffbox {
    border:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.meta-box-sortables.ui-sortable .inside h3 {
    display:none;
}
.meta-box-sortables.ui-sortable .inside .inside {
    margin:0;
    padding:0;
}


/*--- [RESPONSIVE] ---*/
@media (max-width:1300px) {
    .tea_to.wrap .tea-nav-menus-frame {
        margin-left:0;
    }
    .tea_to.wrap .tea-menu-settings-column {
        display:block;
        float:none;
        margin-bottom:20px;
        margin-left:0;
        width:100%;
    }
    .tea_to.wrap .tea-menu-management-liquid {
        float:none;
    }
}
@media (max-width:990px) {
    .tea_to.wrap .tea-nav-menus-frame {
        margin-left:0;
    }
    .tea_to.wrap .tea-menu-settings-column {
        display:block;
        float:none;
        margin-bottom:20px;
        margin-left:0;
        width:100%;
    }
    .tea_to.wrap .tea-menu-management-liquid {
        float:none;
    }
    .tea_to.wrap #poststuff #post-body.columns-2 {
        margin-right:0;
    }
    .tea_to.wrap #post-body-content {
        float:none;
    }
    .tea_to.wrap #post-body.columns-2 #postbox-container-1 {
        float:none;
        margin-right:0;
        width:100%;
    }
}

