/*
 * Tea Theme Options v1.2.0 - "See you space cow-boy - Cow-boy Bebop"
 * Copyright 2012 Take a Tea
 * By Take a Tea <takeatea.com> :)
 */


/*--- [IMPORTS] ---*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);


/*--- [CLEARFIX] ---*/
.clearfix {
    *zoom:1;
}
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
    line-height:0;
}
.clearfix:after {
    clear:both;
}


/*--- [MODAL] ---*/
.tea-shortcodes .media-modal {
    bottom:auto;
    left:50%;
    margin-left:-250px;
    right:auto;
    top:60px;
    width:500px;
}
.tea-shortcodes .media-frame.hide-submit .media-frame-content {
    bottom:10px;
}
.tea-shortcodes .media-frame.hide-submit .media-frame-toolbar {
    display:none;
}
.tea-shortcodes .media-frame-title,
.tea-shortcodes .media-frame-router,
.tea-shortcodes .media-frame-toolbar {
    left:0;
}
.tea-shortcodes .media-frame-content {
    left:10px;
    right:10px;
}
.tea-shortcodes #tea-content {
    padding-top:10px;
}
.tea-shortcodes .setting-html {
    clear:both;
    display:block;
}
.tea-shortcodes .setting {
    float:none;
}
.tea-shortcodes pre {
    font-family:"roboto",courier,arial;
    font-size:14px;
    line-height:12px;
    padding:0 10px;
    white-space:pre-wrap;
}


/*--- [SMALLBOXES] ---*/
.tea_to.wrap .inside.count_98 .smallbox,
.tea_to.wrap .inside.count_50 .smallbox,
.tea_to.wrap .inside.count_33 .smallbox,
.tea_to.wrap .inside.count_25 .smallbox {
    float:left;
}
.tea_to.wrap .inside.count_98 .smallbox {
    margin-left:1%;
    margin-right:1%;
    width:98%;
}
.tea_to.wrap .inside.count_50 .smallbox {
    margin-left:1%;
    width:49%;
}
.tea_to.wrap .inside.count_33 .smallbox {
    margin-right:1%;
    width:32%;
}
.tea_to.wrap .inside.count_25 .smallbox {
    margin-left:1%;
    width:24%;
}


/*--- [ALERTS] ---*/
.tea_to.wrap .alert {
    background-color:#fcf8e3;
    border:1px solid #fbeed5;
    color:#c09853;
    padding:0 10px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.tea_to.wrap .alert h4 {
    margin:0;
}
.tea_to.wrap .alert .close {
    line-height:20px;
    position:relative;
    right:-21px;
    top:-2px;
}
.tea_to.wrap .alert-success {
    background-color:#dff0d8;
    border-color:#d6e9c6;
    color:#468847;
}


/*--- [INSIDES] ---*/
.tea_to.wrap .inside p {
    margin:5px 0;
}
.tea_to.wrap textarea:focus,
.tea_to.wrap input[type="text"]:focus,
.tea_to.wrap input[type="password"]:focus,
.tea_to.wrap input[type="datetime"]:focus,
.tea_to.wrap input[type="datetime-local"]:focus,
.tea_to.wrap input[type="date"]:focus,
.tea_to.wrap input[type="month"]:focus,
.tea_to.wrap input[type="time"]:focus,
.tea_to.wrap input[type="week"]:focus,
.tea_to.wrap input[type="number"]:focus,
.tea_to.wrap input[type="email"]:focus,
.tea_to.wrap input[type="url"]:focus,
.tea_to.wrap input[type="search"]:focus,
.tea_to.wrap input[type="tel"]:focus,
.tea_to.wrap input[type="color"]:focus {
    border:1px solid #99d5f1;
    color:#21759b;
    outline:0;
    outline:thin dotted \9;
}
.tea_to.wrap textarea,
.tea_to.wrap select,
.tea_to.wrap .inside input[type="text"],
.tea_to.wrap .inside input[type="password"],
.tea_to.wrap .inside input[type="datetime"],
.tea_to.wrap .inside input[type="datetime-local"],
.tea_to.wrap .inside input[type="date"],
.tea_to.wrap .inside input[type="month"],
.tea_to.wrap .inside input[type="time"],
.tea_to.wrap .inside input[type="week"],
.tea_to.wrap .inside input[type="number"],
.tea_to.wrap .inside input[type="email"],
.tea_to.wrap .inside input[type="url"],
.tea_to.wrap .inside input[type="search"],
.tea_to.wrap .inside input[type="tel"],
.tea_to.wrap .inside input[type='file'] {
    width:98%;
}
.tea_to.wrap .inside textarea {
    resize:none;
}


/*--- [LISTING] ---*/
.tea_to.wrap .listing {
    list-style:disc;
    margin-left:30px;
}
.tea_to.wrap .features-list li {
    float:left;
    margin:0 1% 10px;
    padding-bottom:25px;
    position:relative;
    width:23%;
    -webkit-box-shadow:0 1px 4px rgba(0,0,0,.4);
    -moz-box-shadow:0 1px 4px rgba(0,0,0,.4);
    box-shadow:0 1px 4px rgba(0,0,0,.4);
}
.tea_to.wrap .features-list li:nth-child(4n+1) {
    clear:left;
}
.tea_to.wrap .features-list h4,
.tea_to.wrap .features-list p {
    padding:0 10px;
}
.tea_to.wrap .features-list p {
    height:74px;
    margin-bottom:0;
}
.tea_to.wrap .features-list pre {
    display:none;
    font-family:"roboto",courier,arial;
    font-size:14px;
    line-height:14px;
    white-space:pre-wrap;
}
.tea_to.wrap .features-list a {
    background:#f5f5f5;
    bottom:0;
    color:#dfdfdf;
    display:block;
    left:0;
    padding:5px 0;
    position:absolute;
    text-align:center;
    text-decoration:none;
    width:100%;
}
.tea_to.wrap .features-list li:hover a {
    color:#21759b;
}
.tea_to.wrap .features-list li a:hover {
    color:#d54e21;
}


/*--- [BACKGROUND] ---*/
.tea_to.wrap .inside.background hr {
    border:1px solid #ececec;
    margin:5px 0 20px;
}
.tea_to.wrap .inside.background .bg-image label {
    float:left;
    margin:0 10px 10px 0;
    text-align:center;
}
.tea_to.wrap .inside.background .bg-image label img {
    border:5px solid #fff;
    display:block;
}
.tea_to.wrap .inside.background .bg-image label:hover img {
    border:5px solid #e5f1f7;
}
.tea_to.wrap .inside.background .bg-image label.selected img {
    border:5px solid #298cba;
}
.tea_to.wrap .inside.background .bg-details {
    float:left;
    width:33%;
}
.tea_to.wrap .inside.count_25 .bg-details,
.tea_to.wrap .inside.count_33 .bg-details,
.tea_to.wrap .inside.count_50 .bg-details {
    width:100%;
}
.tea_to.wrap .inside.background .bg-position input {
    float:left;
    width:49%;
}
.tea_to.wrap .inside.background .bg-position select {
    float:right;
    width:49%;
}
.tea_to.wrap .inside.background .bg-position span {
    clear:both;
    display:block;
}


/*--- [CHECKBOXES] ---*/
.tea_to.wrap .checkall {
    float:right;
    font-size:12px;
    line-height:20px;
}
.tea_to.wrap .inside.checkbox {
    background:#fff;
}
.tea_to.wrap .inside.checkbox label {
    background-color:#fff;
    border-left:5px solid #e5f1f7;
    display:block;
    padding:5px;
}
.tea_to.wrap .inside.checkbox label.selected {
    border-left:5px solid #298cba;
}
.tea_to.wrap .inside.checkbox label:hover {
    background-color:#e5f1f7;
}
.tea_to.wrap .inside.checkbox label img {
    vertical-align:middle;
}


/*--- [CHECKBOXES & RADIO BUTTONS & IMAGES] ---*/
.tea_to.wrap .inside label.selected {
    color:#298cba;
}


/*--- [COLORS] ---*/
.tea_to.wrap .inside input.color-picker {
    width:100px;
}
.tea_to.wrap .inside .wp-picker-container {
    position:relative;
}
.tea_to.wrap .inside .wp-picker-holder {
    position:absolute;
}


/*--- [IMAGES] ---*/
.tea_to.wrap .inside.image label {
    float:left;
    margin:0 10px 10px 0;
    text-align:center;
}
.tea_to.wrap .inside.image label img {
    border:5px solid #fff;
    display:block;
}
.tea_to.wrap .inside.image label:hover img {
    border:5px solid #e5f1f7;
}
.tea_to.wrap .inside.image label.selected img {
    border:5px solid #298cba;
}


/*--- [IMAGE-TO-SHOW] ---*/
.tea_to.wrap .inside label .image-to-show {
    position:relative;
}
.tea_to.wrap .inside label .image-to-show span {
    background:#e5f1f7;
    bottom:0;
    color:#000;
    display:none;
    left:0;
    padding:5px;
    position:absolute;
}
.tea_to.wrap .inside label:hover .image-to-show span {
    display:block;
}
.tea_to.wrap .inside label.selected .image-to-show span {
    background:#298cba;
    color:#fff;
    display:block;
}


/*--- [RADIO] ---*/
.tea_to.wrap .inside .bg-repeat label,
.tea_to.wrap .inside.radio label {
    background-color:#fff;
    display:block;
    padding:5px;
}
.tea_to.wrap .inside .bg-repeat label:hover,
.tea_to.wrap .inside.radio label:hover {
    background-color:#e5f1f7;
}


/*--- [SOCIALS] ---*/
.tea_to.wrap .inside.social div {
    margin:0 0 10px 0;
}
.tea_to.wrap .inside.social label {
    display:inline-block;
    margin:0 10px 0 0;
    text-align:center;
}
.tea_to.wrap .inside.social label img {
    border:5px solid #fff;
    vertical-align:middle;
}
.tea_to.wrap .inside.social label:hover img {
    border:5px solid #e5f1f7;
}
.tea_to.wrap .inside.social label.selected img {
    border:5px solid #298cba;
}
.tea_to.wrap .inside.social input[type="text"] {
    display:inline-block;
    margin:0 10px 0 0;
    width:300px;
}


/*--- [UPLOADS] ---*/
.tea_to.wrap .inside .customized {
    padding:0 0 10px 0;
}
.tea_to.wrap .inside .upload_image_result {
    margin-top:10px;
    text-align:center;
}
.tea_to.wrap .inside .upload_image_result figure {
    display:block;
    margin-bottom:10px;
    opacity:1;
    padding:10px 0 0;
}
.tea_to.wrap .inside .upload_image_result figure img {
    background:url(../img/teato/bg-upload.png) 0 0;
    margin:0 1px;
    max-width:100%;
    padding:10px;
    vertical-align:middle;
}
.tea_to.wrap .inside .upload_image_result ul {
    list-style:none;
}
.tea_to.wrap .inside .upload_image_result li {
    display:inline-block;
    height:150px;
    margin:0 10px 10px 0;
    opacity:1;
    padding:5px;
    vertical-align:top;
    width:150px;
}
.tea_to.wrap .inside .upload_image_result li img {
    background:url(../img/teato/bg-upload.png) 0 0;
    max-height:170px;
    max-width:130px;
    padding:10px;
}
.tea_to.wrap .inside .upload_image_result .delete {
    color:#bc0b0b;
    display:block;
    height:20px;
    line-height:20px;
    text-align:center;
    text-decoration:none;
}
.tea_to.wrap .delall {
    color:#bc0b0b;
    float:right;
    font-size:12px;
    line-height:20px;
    text-decoration:none;
}
.tea_to.wrap .delall:hover,
.tea_to.wrap .inside .upload_image_result .delete:hover {
    color:red;
}

