{#<!--div class="movendrop">
    <h3>{% verbatim %}{{ title }}{% endverbatim %}</h3>
    <input type="text" name="type" value="{% verbatim %}{{ type }}{% endverbatim %}" />

    <a href="#edit" class="edit-posttype">
        Edit
    </a>

    <a href="#delete" class="del-posttype">
        <i class="fa fa-times"></i>
    </a>
</div-->#}
