/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * @font-face
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../fonts/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../fonts/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Theme CSS
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
html {
  background-color: #fbfbfb;
}
html.wp-toolbar {
  padding-top: 52px;
}
h1,
h2,
h3 {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-weight: 200;
}
h1 strong,
h2 strong,
h3 strong {
  font-weight: 400;
}
h1 {
  font-size: 38px;
  line-height: 46px;
  margin: 0;
  text-align: center;
}
a {
  color: #55bb3a;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #91d04d;
}
.tea-main-nav .tea-logo svg #water path:last-child {
  fill: #55bb3a;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * WP Adminbar plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
#wpadminbar {
  border-top: 2px solid #91d04d;
  height: 52px;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}
#wpadminbar * {
  line-height: 52px;
}
#wpadminbar #adminbarsearch:before,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before {
  color: #ffffff;
}
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
  background: #111111;
  color: #91d04d;
}
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
  background: #111111;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar > #wp-toolbar a:focus span.ab-label,
#wpadminbar > #wp-toolbar li.hover span.ab-label,
#wpadminbar > #wp-toolbar li:hover span.ab-label {
  color: #91d04d;
}
#wpadminbar .quicklinks .menupop ul li .ab-item span,
#wpadminbar .quicklinks .menupop.hover ul li .ab-item span {
  line-height: 1;
}
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .quicklinks a,
#wpadminbar .shortlink-input {
  height: 52px;
}
#wpadminbar .ab-icon,
#wpadminbar .ab-item:before {
  margin-top: 10px;
}
#wpadminbar #wp-admin-bar-my-sites > .ab-item:before,
#wpadminbar #wp-admin-bar-site-name > .ab-item:before {
  top: 1px;
}
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  margin-left: 12px;
}
#wpadminbar .quicklinks > ul > li > a {
  padding: 0 20px;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
  margin: 0 16px;
  text-align: center;
}
#wp-admin-bar-user-info .avatar {
  position: static;
}
#wpadminbar #wp-admin-bar-user-info span,
#wpadminbar #wp-admin-bar-user-info a {
  height: auto;
}
#wpadminbar #wp-admin-bar-user-info span {
  line-height: 26px;
}
.nav-tab-active,
.nav-tab-active:hover,
#wp-content-editor-tools {
  background-color: #fbfbfb;
}
.manage-menus {
  background-color: #ffffff;
}
/*--- [RESPONSIVE] ---*/
@media (max-width: 782px) {
  html.wp-toolbar {
    padding-top: 48px;
  }
  #wpadminbar .ab-icon,
  #wpadminbar .ab-item:before {
    margin-top: 0;
  }
  #wpadminbar #wp-admin-bar-my-sites > .ab-item:before,
  #wpadminbar #wp-admin-bar-site-name > .ab-item:before {
    top: 7px;
  }
}
@media (max-width: 600px) {
  html.wp-toolbar {
    padding-top: 0;
  }
  #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default .ab-icon {
    margin-top: 0;
  }
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Dashboard plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
/*--- [MAIN] ---*/
#dashboard-widgets-wrap {
  overflow: visible;
}
/*--- [SVG] ---*/
#section-teato-logo.inside-section svg #water path:last-child,
#section-teato-logo.inside-section svg #bull-2 path:last-child,
#section-teato-logo.inside-section svg #bull-3 path,
#section-teato-logo.inside-section svg #bull-4 path {
  fill: #55bb3a;
}
#section-teato-cogs.inside-section svg #green path {
  fill: #55bb3a;
}
#section-teato-wp.inside-section svg #water path:last-child {
  fill: #55bb3a;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Date plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.date .picker--focused .picker__day--selected,
.tea-inside.date .picker__day--selected,
.tea-inside.date .picker__day--selected:hover {
  background: #91d04d;
}
.tea-inside.date .picker--focused .picker__day--highlighted,
.tea-inside.date .picker__day--highlighted:hover,
.tea-inside.date .picker__nav--next:hover,
.tea-inside.date .picker__nav--prev:hover,
.tea-inside.date .picker__day--infocus:hover,
.tea-inside.date .picker__day--outfocus:hover,
.tea-inside.date .picker__button--clear:hover,
.tea-inside.date .picker__button--close:hover,
.tea-inside.date .picker__button--today:hover {
  background: #e5f7e5;
  border-bottom: 0;
}
.tea-inside.date .picker__header select,
.tea-inside.date .picker__button--clear:focus,
.tea-inside.date .picker__button--close:focus,
.tea-inside.date .picker__button--today:focus,
.tea-inside.date .picker__input.picker__input--active,
.tea-inside.date .picker__day--highlighted {
  border-color: #91d04d;
}
.tea-inside.date .picker__button--today:before {
  border-top-color: #91d04d;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Inputs plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
input[type=checkbox]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  border: 1px solid #91d04d;
  color: #91d04d;
  outline: 0;
  -webkit-box-shadow: 0 0 2px rgba(229, 247, 229, 0.8);
  -moz-box-shadow: 0 0 2px rgba(229, 247, 229, 0.8);
  box-shadow: 0 0 2px rgba(229, 247, 229, 0.8);
}
input[type=radio]:checked:before {
  background-color: #55bb3a;
}
textarea:focus {
  color: #000000;
}
.drag-drop #drag-drop-area {
  background-color: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  -webkit-box-shadow: 0 3px 0 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 0 1px rgba(0, 0, 0, 0.05);
}
.drag-drop.drag-over #drag-drop-area {
  border-color: #91d04d;
}
.drag-drop .drag-drop-inside {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Links and Buttons plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.wrap .add-new-h2,
.wrap .add-new-h2:active {
  background: #3b3d3c;
  border-left: 6px solid #91d04d;
  border-radius: 0;
  color: #ffffff;
  font-weight: 700;
  padding: 6px 14px;
  text-transform: uppercase;
}
.wrap .add-new-h2:hover {
  background: #91d04d;
  border-left: 6px solid #3b3d3c;
  color: #ffffff;
}
.view-switch a.current:before {
  color: #91d04d;
}
.post-com-count:hover span {
  background-color: #91d04d;
}
.post-com-count:hover:after {
  border-top: 5px solid #91d04d;
}
input[type=checkbox]:checked:before {
  color: #91d04d;
}
.wp-core-ui .button,
.wp-core-ui .button-primary,
.wp-core-ui .button-secondary {
  border-radius: 0;
}
.wp-core-ui .button-primary {
  background: #91d04d;
  border-color: #55bb3a;
  -webkit-box-shadow: inset 0 1px 0 rgba(85, 187, 58, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(85, 187, 58, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(85, 187, 58, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
}
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
  background: #55bb3a;
  border-color: #55bb3a;
  -webkit-box-shadow: inset 0 1px 0 rgba(85, 187, 58, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(85, 187, 58, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 rgba(85, 187, 58, 0.5), 0 1px 0 rgba(0, 0, 0, 0.15);
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Menu plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
ul#adminmenu div.wp-menu-image:before,
ul#adminmenu a {
  color: #ffffff;
}
#collapse-menu:hover,
#collapse-menu:hover #collapse-button div:after,
ul#adminmenu li:focus div.wp-menu-image:before,
ul#adminmenu li:hover div.wp-menu-image:before,
ul#adminmenu a:focus div.wp-menu-image:before,
ul#adminmenu a:hover div.wp-menu-image:before,
ul#adminmenu .wp-submenu a:focus,
ul#adminmenu .wp-submenu a:hover,
ul#adminmenu a:hover,
ul#adminmenu li.menu-top > a:focus,
ul#adminmenu .opensub .wp-submenu li.current a,
ul#adminmenu .wp-submenu li.current,
ul#adminmenu .wp-submenu li.current a,
ul#adminmenu .wp-submenu li.current a:focus,
ul#adminmenu .wp-submenu li.current a:hover,
ul#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a {
  color: #91d04d;
}
#adminmenu li.current a.menu-top,
ul#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
  background: #3b3d3c;
  color: #ffffff;
}
ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after,
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
  background: #91d04d;
  border: none;
  bottom: 0;
  content: " ";
  height: auto;
  margin-top: 0;
  width: 6px;
  top: 0;
}
ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after,
ul#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  background: #303231;
}
ul#adminmenu .wp-submenu,
.folded ul#adminmenu .wp-has-current-submenu .wp-submenu,
.folded ul#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #303231;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
}
ul#adminmenu .wp-submenu a {
  color: #ffffff;
}
ul#adminmenu .wp-menu-image img {
  opacity: 1;
  filter: alpha(opacity=100);
}
#collapse-menu,
#collapse-button div:after {
  color: #3b3d3c;
}
#adminmenu li.wp-menu-separator {
  border-bottom: 1px solid #303231;
  border-top: 1px solid #111111;
  height: 0px;
  margin: 10px 0;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Messages plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
#update-nag,
.update-nag {
  border: 1px solid #ffba00;
  display: block;
  margin: 32px 18px 32px 0px;
}
#update-nag a,
.update-nag a {
  color: #ffba00;
}
#update-nag a:focus,
#update-nag a:hover,
.update-nag a:focus,
.update-nag a:hover {
  color: #664a00;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Metas plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
#contextual-help-wrap {
  background-color: #f1f1f1;
}
#contextual-help-back {
  background-color: #ffffff;
}
.contextual-help-tabs .active {
  background-color: #ffffff;
  border-left-color: #91d04d;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Plugins
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.teato-mainwrap .selectize-control.multi .selectize-input [data-value] {
  background-color: #91d04d;
  background-image: none;
  border-color: #55bb3a;
  border-radius: 0;
  color: #ffffff;
}
.teato-mainwrap .selectize-control.multi .selectize-input [data-value].active {
  background-color: #e5f7e5;
  background-image: none;
  border-color: #55bb3a;
  color: #55bb3a;
}
.teato-mainwrap .selectize-dropdown {
  border-radius: 0;
  margin-top: -2px;
  max-width: 100%;
  right: 0;
}
.teato-mainwrap .selectize-dropdown .active {
  background-color: #e5f7e5;
  color: #111111;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Postbox plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.postbox {
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
}
.postbox > h3 {
  background: #dddddd;
  -webkit-box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -10px 10px -5px rgba(0, 0, 0, 0.1);
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Tables plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.plugins .active th.check-column {
  border-left: 4px solid #91d04d;
}
.plugins .active td,
.plugins .active th {
  background-color: #f1f1f1;
}
.star-rating .star,
.wp-list-table a.row-title {
  color: #3b3d3c;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Tea T.O. plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
/*--- [MAIN] ---*/
.teato-mainwrap .tea-main-nav {
  padding-top: 3px;
}
.teato-mainwrap .tea_to .tea-main-nav li a:focus:after,
.teato-mainwrap .tea_to .tea-main-nav li a:hover:after,
.teato-mainwrap .tea_to .tea-main-nav li a.current:after {
  border: none;
  bottom: 0;
  content: " ";
  left: 0;
  margin-top: 0;
  position: absolute;
  width: 6px;
  top: 0;
}
.teato-mainwrap .tea_to .tea-main-nav li a:focus,
.teato-mainwrap .tea_to .tea-main-nav li a:hover {
  color: #91d04d;
}
.teato-mainwrap .tea_to .tea-main-nav li a:focus:after,
.teato-mainwrap .tea_to .tea-main-nav li a:hover:after {
  background: #303231;
}
.teato-mainwrap .tea_to .tea-main-nav li a.current:after {
  background: #91d04d;
}
.teato-mainwrap .tea-main-nav,
.teato-mainwrap .tea-inside.inside-section.green {
  background-color: #91d04d;
}
.teato-mainwrap #poststuff .tea-inside.inside-section a,
.teato-mainwrap .tea-inside.inside-section a {
  color: #55bb3a;
}
.teato-mainwrap #poststuff .tea-inside.inside-section a:focus,
.teato-mainwrap #poststuff .tea-inside.inside-section a:hover,
.teato-mainwrap .tea-inside.inside-section a:focus,
.teato-mainwrap .tea-inside.inside-section a:hover {
  color: #e5f7e5;
}
/*--- [CHECBOX] ---*/
.teato-mainwrap .tea-inside.checkbox label {
  border-left-color: #e5f7e5;
}
.teato-mainwrap .tea-inside.checkbox label:hover {
  background-color: #e5f7e5;
}
.teato-mainwrap .tea-inside.checkbox label.selected {
  border-left-color: #91d04d;
  color: #91d04d;
}
/*--- [FORM] ---*/
.teato-mainwrap .tea_to_wrap input[type=color]:focus,
.teato-mainwrap .tea_to_wrap input[type=date]:focus,
.teato-mainwrap .tea_to_wrap input[type=datetime-local]:focus,
.teato-mainwrap .tea_to_wrap input[type=datetime]:focus,
.teato-mainwrap .tea_to_wrap input[type=email]:focus,
.teato-mainwrap .tea_to_wrap input[type=month]:focus,
.teato-mainwrap .tea_to_wrap input[type=number]:focus,
.teato-mainwrap .tea_to_wrap input[type=password]:focus,
.teato-mainwrap .tea_to_wrap input[type=search]:focus,
.teato-mainwrap .tea_to_wrap input[type=tel]:focus,
.teato-mainwrap .tea_to_wrap input[type=text]:focus,
.teato-mainwrap .tea_to_wrap input[type=time]:focus,
.teato-mainwrap .tea_to_wrap input[type=url]:focus,
.teato-mainwrap .tea_to_wrap input[type=week]:focus,
.teato-mainwrap .tea_to_wrap select:focus,
.teato-mainwrap .tea_to_wrap textarea:focus {
  border-color: #55bb3a;
  box-shadow: 0 0 0 2px rgba(85, 187, 58, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #55bb3a;
}
.teato-mainwrap .tea_to_wrap textarea:focus {
  color: #000000;
}
.teato-mainwrap .tea-inside.textarea .counter.on {
  background-color: rgba(85, 187, 58, 0.3);
  box-shadow: 0 0 0 2px rgba(85, 187, 58, 0.3);
}
/*--- [RADIO] ---*/
.teato-mainwrap .tea-inside.radio label {
  border-left-color: #e5f7e5;
}
.teato-mainwrap .tea-inside.radio label:hover {
  background-color: #e5f7e5;
}
.teato-mainwrap .tea-inside.radio label.selected {
  border-left-color: #91d04d;
  color: #91d04d;
}
/*--- [SCREEN-META] ---*/
.teato-mainwrap .tea_to_wrap.tea-screen-meta .contextual-help-tabs .active {
  border-left-color: #91d04d;
}
.teato-mainwrap .tea_to_wrap.tea-screen-meta .contextual-help-tabs a {
  color: #55bb3a;
}
/*--- [UPLOAD] ---*/
.teato-mainwrap .tea-inside.upload .upload_image_result div.upload-time a,
.teato-mainwrap .tea-inside.upload .upload_image_result li.upload-time a {
  box-shadow: 0 0 0 4px rgba(85, 187, 58, 0.3);
  color: #91d04d;
}
.teato-mainwrap .tea-inside.upload .upload_image_result div.upload-time a:focus,
.teato-mainwrap .tea-inside.upload .upload_image_result div.upload-time a:hover,
.teato-mainwrap .tea-inside.upload .upload_image_result li.upload-time a:focus,
.teato-mainwrap .tea-inside.upload .upload_image_result li.upload-time a:hover {
  border-color: #55bb3a;
  box-shadow: 0 0 0 4px rgba(85, 187, 58, 0.6);
  color: #55bb3a;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Themes plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.theme-overlay .theme-header .close:focus,
.theme-overlay .theme-header .close:hover,
.theme-overlay .theme-header .left:focus,
.theme-overlay .theme-header .left:hover,
.theme-overlay .theme-header .right:focus,
.theme-overlay .theme-header .right:hover,
.theme-browser .theme.add-new-theme:focus:after,
.theme-browser .theme.add-new-theme:hover:after {
  background: #91d04d;
}
.theme-browser .theme.add-new-theme:focus span:after,
.theme-browser .theme.add-new-theme:hover span:after {
  color: #91d04d;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Upload plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.media-modal-close:hover .media-modal-icon:before,
.media-frame a {
  color: #91d04d;
}
.media-frame a:hover {
  color: #55bb3a;
}
.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
  color: #aaaaaa !important;
  border-color: #ffffff !important;
  background: #f1f1f1 !important;
}
.attachment.details {
  -webkit-box-shadow: 0 0 0 2px #91d04d;
  -moz-box-shadow: 0 0 0 2px #91d04d;
  box-shadow: 0 0 0 2px #91d04d;
}
.attachment.details .check {
  background-color: #91d04d;
  -webkit-box-shadow: 0 0 0 1px #91d04d;
  -moz-box-shadow: 0 0 0 1px #91d04d;
  box-shadow: 0 0 0 1px #91d04d;
}
.media-progress-bar div {
  background-color: #91d04d;
}
