/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * @font-face
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../fonts/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(../fonts/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Global CSS
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
/*--- [GLOBALS] ---*/
html {
  background-color: #fbfbfb;
}
h1,
h2,
h3 {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-weight: 200;
}
h1 strong,
h2 strong,
h3 strong {
  font-weight: 400;
}
h1 {
  font-size: 38px;
  line-height: 46px;
  margin: 0;
  text-align: center;
}
#poststuff h2.tea-clear {
  margin-top: 0;
}
.teato-mainwrap #wpcontent,
.teato-mainwrap #wpfooter {
  display: block;
}
.teato-mainwrap .auto-fold #wpcontent {
  padding-left: 0;
}
.teato-mainwrap #wpbody-content .wrap {
  margin: 0 0 0 -20px;
}
.teato-mainwrap #poststuff {
  padding: 10px 2% 0;
  max-width: 100%;
  min-width: 92%;
}
.teato-mainwrap #wpfooter {
  padding: 10px 19px;
}
.tea_to_wrap .inside p {
  margin: 5px 0;
}
.tea_to_wrap .del_all_items,
.tea_to_wrap .del_all_images {
  color: #990000;
  float: right;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
}
.tea_to_wrap .del_all_items:hover,
.tea_to_wrap .del_all_images:hover {
  color: #ff0000;
}
/*--- [MAIN FOOTER] ---*/
.teato-footer {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  margin: 60px auto 40px;
  max-width: 95%;
  text-align: center;
  width: 600px;
}
.teato-footer hr,
.teato-footer p {
  margin: 5px 0;
}
.teato-footer a {
  /*color: @primary;*/
  text-decoration: none;
}
.teato-footer a:focus,
.teato-footer a:hover {
  /*color: @main;*/
}
hr {
  border-bottom: 1px solid #ffffff;
}
/*--- [CLEARFIX] ---*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*--- [TAXONOMIES & WRAPPER] ---*/
.tea_tax_main {
  margin-top: 30px;
}
.tea_to_wrap {
  background: #ffffff;
  border: 1px solid #dddddd;
  line-height: 1;
  margin-bottom: 20px;
  padding: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}
.tea_tax_main .tea_to_wrap,
.tea_tax_wrap .tea_to_wrap {
  background: transparent;
  border: none;
  clear: both;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tea_tax_wrap .tea_to_wrap > h3 {
  float: left;
  margin: 0;
  padding: 0 10px 0 0;
  width: 200px;
}
.tea_to_wrap .inside {
  font-size: 13px;
  line-height: 1.4em;
  padding: 0 12px 12px;
}
.tea_tax_main .tea_to_wrap > .inside {
  padding: 0;
}
.tea_tax_wrap .tea_to_wrap > .inside {
  margin-left: 210px;
  padding: 0 10px;
}
.meta-box-sortables .tea_to_wrap {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.meta-box-sortables .tea_to_wrap .tea_title {
  display: none;
}
.meta-box-sortables .tea_to_wrap .inside {
  padding: 0;
}
.tea_to_wrap .checkall {
  float: right;
  font-size: 12px;
  line-height: 20px;
}
/*--- [FORMS] ---*/
.tea_to_wrap textarea,
.tea_to_wrap input[type="color"],
.tea_to_wrap input[type="date"],
.tea_to_wrap input[type="datetime"],
.tea_to_wrap input[type="datetime-local"],
.tea_to_wrap input[type="email"],
.tea_to_wrap input[type="month"],
.tea_to_wrap input[type="number"],
.tea_to_wrap input[type="password"],
.tea_to_wrap input[type="search"],
.tea_to_wrap input[type="tel"],
.tea_to_wrap input[type="text"],
.tea_to_wrap input[type="time"],
.tea_to_wrap input[type="url"],
.tea_to_wrap input[type="week"] {
  border: 1px solid #dddddd;
  outline: 0;
  width: 98%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: border ease .5s;
  -moz-transition: border ease .5s;
  transition: border ease .5s;
}
.tea_to_wrap select {
  border: 1px solid #dddddd;
  outline: 0;
  width: 98%;
  -webkit-transition: border ease .5s;
  -moz-transition: border ease .5s;
  transition: border ease .5s;
}
.tea_to_wrap textarea:focus,
.tea_to_wrap select:focus,
.tea_to_wrap input[type="color"]:focus,
.tea_to_wrap input[type="date"]:focus,
.tea_to_wrap input[type="datetime"]:focus,
.tea_to_wrap input[type="datetime-local"]:focus,
.tea_to_wrap input[type="email"]:focus,
.tea_to_wrap input[type="month"]:focus,
.tea_to_wrap input[type="number"]:focus,
.tea_to_wrap input[type="password"]:focus,
.tea_to_wrap input[type="search"]:focus,
.tea_to_wrap input[type="tel"]:focus,
.tea_to_wrap input[type="text"]:focus,
.tea_to_wrap input[type="time"]:focus,
.tea_to_wrap input[type="url"]:focus,
.tea_to_wrap input[type="week"]:focus {
  border-color: #55bb3a;
  box-shadow: 0 0 0 2px rgba(85, 187, 58, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #55bb3a;
  outline: 0;
}
.tea_to_wrap .inside textarea {
  color: #000000;
  resize: none;
}
.tea_to_wrap input[readonly] {
  border-color: #f6f6f6;
  box-shadow: 0 0 0 2px rgba(246, 246, 246, 0.4), inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
/*--- [SECTION] ---*/
.tea-inside.inside-section,
#poststuff .tea-inside.inside-section {
  font-family: 'Raleway', 'Open Sans', sans-serif;
  font-size: 26px;
  line-height: 32px;
  margin: 0 -26px;
  padding: 100px 25px;
  position: relative;
}
.tea-inside.inside-section a,
#poststuff .tea-inside.inside-section a {
  color: #91d04d;
  text-decoration: none;
}
.tea-inside.inside-section a:focus,
.tea-inside.inside-section a:hover,
#poststuff .tea-inside.inside-section a:focus,
#poststuff .tea-inside.inside-section a:hover {
  color: #55bb3a;
}
.tea-inside.inside-section.green {
  background: #91d04d url(../img/section-square.png);
  box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.3), inset 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}
.tea-inside.inside-section div {
  max-width: 50%;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.tea-inside.inside-section div.imaged {
  text-align: center;
}
.tea-inside.inside-section div.left {
  float: left;
}
.tea-inside.inside-section div.right {
  float: right;
}
.tea-inside.inside-section h2,
#poststuff .tea-inside.inside-section h2 {
  clear: none;
  font-size: 26px;
  line-height: 32px;
  margin: 0 0 100px;
  padding: 0;
}
.tea-inside.inside-section.green h2,
#poststuff .tea-inside.inside-section.green h2 {
  color: #ffffff;
}
.tea-inside.inside-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tea-inside.inside-section p,
.tea-inside.inside-section li {
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0;
}
/*--- [DRAGGABLE] ---*/
.draggable {
  font-family: FontAwesome;
  padding-left: 30px;
  position: relative;
}
.draggable:before {
  color: #303231;
  content: "\f142";
  cursor: move;
  display: block;
  font-size: 17px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 25px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.draggable.ui-sortable-helper {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding-bottom: 4px;
  padding-top: 4px;
  -webkit-transition: padding ease .5s, background ease .5s;
  -moz-transition: padding ease .5s, background ease .5s;
  transition: padding ease .5s, background ease .5s;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Main navigation
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-main-nav {
  background: #91d04d url(../img/section-square.png);
  box-shadow: inset 0 -4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.tea-main-nav .tea-menu-resp:before {
  border: 0;
  content: '\f228';
  display: inline-block;
  height: 44px;
  font: 400 40px/45px Dashicons;
  margin: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  text-align: center;
  text-decoration: none;
  top: 9px;
  vertical-align: middle;
  width: 50px;
  z-index: 2;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
.opened .tea-main-nav .tea-menu-resp:before {
  content: '\f158';
  right: 255px;
  z-index: 10;
}
.tea-main-nav .tea-logo {
  float: left;
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 60px;
  margin-right: 5px;
  text-transform: uppercase;
}
.tea-main-nav .tea-logo img {
  margin: -6px 10px 0 0;
  max-height: 54px;
  vertical-align: middle;
}
.tea-main-nav .tea-breadcrumb {
  color: #ffffff;
  font-size: 16px;
  line-height: 60px;
}
.tea-main-nav ul {
  background-color: #232323;
  bottom: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  font-size: 0;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 65px 0 0;
  position: fixed;
  right: -275px;
  top: 0;
  width: 250px;
  z-index: 3;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
.opened .tea-main-nav ul {
  right: 0;
}
.tea-main-nav li {
  color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: top;
  z-index: 2;
}
.tea-main-nav a {
  color: #ffffff;
  display: block;
  line-height: 44px;
  padding: 0 14px;
  text-decoration: none;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
.tea-main-nav li a:focus,
.tea-main-nav li a:hover {
  background-color: #111111;
  color: #91d04d;
}
.tea-main-nav li a.current {
  background-color: #3b3d3c;
  color: #ffffff;
}
.tea-main-nav a.fallback {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
.opened .tea-main-nav a.fallback {
  display: block;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Messages and alerts
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
/*--- [MESSAGES] ---*/
#update-nag,
.update-nag {
  border: 1px solid #ffba00;
  display: block;
  margin: 32px 18px 32px 0px;
}
div.tea_to_message {
  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  font-size: 13px;
  line-height: 2.1em;
  margin: 16px 0;
  overflow: hidden;
  padding: 23px 25px 0;
  position: relative;
}
div.tea_to_message:after {
  background: url(../img/cog-gray.svg) no-repeat;
  bottom: -100px;
  content: "";
  display: block;
  height: 284px;
  position: absolute;
  right: -120px;
  width: 284px;
  z-index: 1;
}
div.tea_to_message .dismiss-button {
  color: #000;
  float: right;
  margin-top: 5px;
  opacity: .4;
  position: relative;
  z-index: 3;
}
div.tea_to_message .dismiss-button:focus,
div.tea_to_message .dismiss-button:hover {
  opacity: 1;
}
div.tea_to_message .logo {
  float: left;
  margin: 0 20px 0 0;
  width: 35px;
}
div.tea_to_message h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
}
div.tea_to_message h4 {
  font-size: 16px;
  margin: 20px 0 0;
}
div.tea_to_message p {
  font-size: 12px;
  position: relative;
  z-index: 2;
}
div.tea_to_message p.about {
  color: #5e5e5e;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
div.tea_to_message li {
  line-height: 1.5;
}
div.tea_to_message .button {
  margin: 15px 0 3px;
}
div.tea_to_message .panel {
  clear: both;
  overflow: hidden;
  position: relative;
}
div.tea_to_message .column {
  float: left;
  min-width: 200px;
  width: 32%;
}
/*--- [ALERTS] ---*/
.tea_to.wrap div.error {
  border: 1px solid #dd3d36;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0 2px rgba(221, 61, 54, 0.3);
  -moz-box-shadow: 0 0 0 2px rgba(221, 61, 54, 0.3);
  box-shadow: 0 0 0 2px rgba(221, 61, 54, 0.3);
  padding: 1px 12px;
}
.tea_to.wrap div.updated {
  border: 1px solid #55bb3a;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0 2px rgba(85, 187, 58, 0.3);
  -moz-box-shadow: 0 0 0 2px rgba(85, 187, 58, 0.3);
  box-shadow: 0 0 0 2px rgba(85, 187, 58, 0.3);
  padding: 1px 12px;
}
.tea_to.wrap div.headsup.error,
.tea_to.wrap div.headsup.updated {
  margin: 35px 2% 0;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Background plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.background hr {
  border: 1px solid #ffffff;
  margin: 5px 0 20px;
}
.tea-inside.background .bg-image label {
  float: left;
  margin: 0 10px 10px 0;
  text-align: center;
}
.tea-inside.background .bg-image label img {
  border: 5px solid #ffffff;
  display: block;
}
.tea-inside.background .bg-image label:hover img {
  border: 5px solid #e5f7e5;
}
.tea-inside.background .bg-image label.selected img {
  border: 5px solid #91d04d;
}
.tea-inside.background .bg-details {
  float: left;
  width: 33%;
}
.tea-inside.background .bg-details select {
  float: left;
  width: 49%;
}
.tea-inside.background .bg-repeat label {
  background-color: #ffffff;
  display: block;
  padding: 5px;
}
.tea-inside.background .bg-repeat label:hover {
  background-color: #e5f7e5;
}
.tea-inside.background label .image-to-show {
  position: relative;
}
.tea-inside.background label .image-to-show span {
  background: #e5f7e5;
  bottom: 0;
  color: #000000;
  display: none;
  left: 0;
  padding: 5px;
  position: absolute;
}
.tea-inside.background label:hover .image-to-show span {
  display: block;
}
.tea-inside.background label.selected .image-to-show span {
  background: #91d04d;
  color: #ffffff;
  display: block;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Checkbox plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.checkbox {
  background: #ffffff;
}
.tea-inside.checkbox .item {
  float: left;
  margin: 0 1% 10px 0;
  width: 32%;
}
.tea-inside.checkbox .item:nth-child(3n+1) {
  clear: left;
}
.tea-inside.checkbox label {
  background-color: #ffffff;
  border-left: 5px solid #e5f7e5;
  display: block;
  padding: 5px;
}
.tea-inside.checkbox label.selected {
  border-left: 5px solid #91d04d;
  color: #91d04d;
}
.tea-inside.checkbox label:hover {
  background-color: #e5f7e5;
}
.tea-inside.checkbox label img {
  vertical-align: middle;
}

/*!
 * Tea Theme Options v1.5.1-6 - "Sogeking no shima deeeeeee - One Piece"
 * Code plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.code {
  position: relative;
}
.tea-inside.code .CodeMirror-all {
  background-color: #f1f1f1;
  border: 1px solid rgba(170, 170, 170, 0.7);
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(241, 241, 241, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
}
.tea-inside.code .CodeMirror-all.focused {
  border-color: #55bb3a;
  box-shadow: 0 0 0 2px rgba(85, 187, 58, 0.3), inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.tea-inside.code .CodeMirror-all .change-mode {
  float: right;
  height: 25px;
  margin: 5px 5px 5px 0;
  width: 200px;
}
.tea-inside.code .CodeMirror {
  clear: both;
  font-size: 12px;
  height: auto;
}
.tea-inside.code .CodeMirror-gutters {
  background-color: transparent;
  border: none;
  border-right: 10px solid transparent;
  bottom: 0;
  height: auto;
}
.tea-inside.code .CodeMirror-linenumber {
  color: #bebebe;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Color plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside input.color-picker {
  width: 100px;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Date plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.date .picker__header select {
  margin-top: -2px;
  width: 30%;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Elasticsearch plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea_to_wrap.elasticsearch.tea-screen-meta {
  background-color: #f1f1f1;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: block;
  margin: 0 5px 20px;
  position: relative;
}
.tea_to_wrap.elasticsearch .tea-contextual-help-wrap {
  margin: 0 0 0 -4px;
  overflow: auto;
  padding: 0;
  position: relative;
}
.tea_to_wrap.elasticsearch .tea-contextual-help-back {
  background-color: #ffffff;
  border-color: #dddddd;
  border-style: solid;
  border-width: 0 1px;
  bottom: 0;
  left: 220px;
  position: absolute;
  right: 20px;
  top: 0;
}
.postbox .tea_to_wrap.elasticsearch.tea_to_review .tea-contextual-help-back {
  left: 140px;
}
.tea_to_wrap.elasticsearch .tea-contextual-help-columns {
  position: relative;
}
/* Menu */
.tea_to_wrap.elasticsearch .contextual-help-tabs {
  width: 220px;
}
.postbox .tea_to_wrap.elasticsearch.tea_to_review .contextual-help-tabs {
  width: 140px;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs h2 {
  padding-left: 16px !important;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs h2 img {
  vertical-align: middle;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs a {
  color: #55bb3a;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs a:focus,
.tea_to_wrap.elasticsearch .contextual-help-tabs a:hover {
  color: #000000;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .active {
  background: #ffffff;
  border-left: 2px solid #91d04d;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .active a {
  color: #000000;
}
.tea_to_wrap.elasticsearch.tea_to_review .contextual-help-tabs li {
  text-align: center;
}
.postbox .tea_to_wrap.elasticsearch.tea_to_review .contextual-help-tabs li {
  text-align: left;
}
.tea_to_wrap.elasticsearch.tea_to_review .contextual-help-tabs li a {
  padding-left: 5px;
  position: relative;
}
.tea_to_wrap.elasticsearch.tea_to_review .contextual-help-tabs li .details {
  float: right;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs hr {
  margin-left: 4px;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .button-create {
  background: #91d04d;
  border-color: #55bb3a;
  color: #ffffff;
  display: block;
  font-size: 16px;
  height: auto;
  line-height: 50px;
  margin: 0 auto 10px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .button-create:hover {
  background: #55bb3a;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .button-index {
  color: #ffffff;
  border-color: #2581a2;
  background: #2ea2cc;
  display: block;
  font-size: 16px;
  height: auto;
  line-height: 50px;
  margin: 0 auto 10px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .button-index:hover {
  background: #2581a2;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .submitsuccess {
  background: transparent;
  border: none;
  color: #2ea2cc;
  cursor: pointer;
  display: block;
  margin: 0 auto 10px;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .submitsuccess:hover {
  color: #1b6079;
  text-decoration: underline;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .submitdelete {
  background: transparent;
  border: none;
  color: #dd3d36;
  cursor: pointer;
  display: block;
  margin: 0 auto 10px;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .submitdelete:hover {
  color: red;
  text-decoration: underline;
}
.tea_to_wrap.elasticsearch .contextual-help-tabs .forms .button.button-primary {
  display: block;
  margin: 0 auto;
}
/* Content */
.tea_to_wrap.elasticsearch .contextual-help-tabs-wrap {
  padding: 15px 20px;
  position: relative;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Font plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.gfont label {
  float: left;
  height: 50px;
  margin: 0 10px 10px 0;
  text-align: center;
  width: 200px;
}
.tea-inside.gfont label span {
  border: 5px solid #ffffff;
  display: block;
  font-size: 18px;
  height: 25px;
  line-height: 25px;
  max-height: 25px;
}
.tea-inside.gfont label:hover span {
  border: 5px solid #e5f7e5;
}
.tea-inside.gfont label.selected span {
  border: 5px solid #91d04d;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Gallery plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
/*--- [LISTING] ---*/
.tea-inside.gallery .upload-listing {
  border-right: 1px solid #ffffff;
  float: left;
  width: 140px;
}
.tea-inside.gallery .upload-listing li {
  background: url(../img/bg-upload.png) 0 0;
  border: 1px solid #ffffff;
  display: inline-block;
  height: 60px;
  margin: 5px 6px 5px 0;
  opacity: 1;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 60px;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
.tea-inside.gallery .upload-listing li.selected {
  border-color: #91d04d;
}
.tea-inside.gallery .upload-listing li .itm {
  display: block;
  height: 50px;
  padding: 5px;
  width: 50px;
}
.tea-inside.gallery .upload-listing li .del_item {
  background-color: #ffffff;
  color: #990000;
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 12px;
  line-height: 12px;
  padding: 4px 4px 4px 6px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 4;
}
.tea-inside.gallery .upload-listing li .fa {
  padding-top: 10px;
}
.tea-inside.gallery .upload-listing li img {
  display: block;
  left: 50%;
  margin: 0;
  margin: 0 auto;
  max-height: 50px;
  max-width: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.tea-inside.gallery .upload-time a {
  color: #91d04d;
}
.tea-inside.gallery .upload-time a:focus,
.tea-inside.gallery .upload-time a:hover {
  color: #55bb3a;
}
/*--- [ITEMS] ---*/
.tea-inside.gallery .upload-none {
  display: none;
}
.tea-inside.gallery .upload-items {
  margin: 0 0 0 151px;
  overflow: hidden;
  padding: 4px;
}
.tea-inside.gallery .upload-items .item {
  display: block;
  height: 0;
  margin: -1px 0 0;
  opacity: 0;
  padding: 0;
  position: relative;
  vertical-align: top;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}
.tea-inside.gallery .upload-items .item.selected {
  height: auto;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
.tea-inside.gallery .upload-items .item .gallery-editor {
  display: block;
}
.tea-inside.gallery .upload-items .item textarea {
  height: 230px;
  width: 100%;
}
/*--- [DRAGGABLE] ---*/
.tea-inside.gallery .draggable:before {
  background-color: #ffffff;
  bottom: 0;
  cursor: move;
  font-size: 10px;
  height: 18px;
  line-height: 20px;
  left: 0;
  top: auto;
  width: 18px;
  z-index: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Hidden plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea_to_wrap.hiddenfield {
  opacity: .5;
  padding: 6px 12px;
}
.tea_to_wrap.hiddenfield p {
  font-style: italic;
  margin: 0;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * ??????????????? plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.image label {
  float: left;
  margin: 0 10px 10px 0;
  text-align: center;
}
.tea-inside.image label img {
  border: 5px solid #ffffff;
  display: block;
}
.tea-inside.image label:hover img {
  border: 5px solid #e5f7e5;
}
.tea-inside.image label.selected img {
  border: 5px solid #91d04d;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Label plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea_to_wrap label.inlineblock {
  display: inline-block;
  width: 250px;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Link plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.link label {
  display: block;
  float: left;
  line-height: 28px;
  padding: 0 10px 0 0;
  text-align: right;
  width: 100px;
}
.tea-inside.link select,
.tea-inside.link input {
  width: 400px;
}
.tea-inside.link .rel input {
  width: 150px;
}
.tea-inside.link small {
  display: block;
  font-style: italic;
  margin-left: 110px;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Modal box
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-modal {
  background: #ffffff;
  display: none;
  height: 70%;
  left: 50%;
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 70%;
  z-index: 10001;
  -webkit-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.tea-modal header {
  border-bottom: 1px solid #ffffff;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-align: left;
}
#poststuff .tea-modal header h2,
.tea-modal header h2 {
  color: #5e5e5e;
  display: inline-block;
  font-size: 22px;
  font-weight: normal;
  line-height: 50px;
  margin: 0;
  padding-left: 20px;
}
.tea-modal header .close {
  border-left: 1px solid #ffffff;
  color: #5e5e5e;
  display: block;
  float: right;
  font-size: 30px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
}
.tea-modal header .close:hover {
  background-color: #fbfbfb;
}
.tea-modal .content-container {
  background: #ffffff;
  bottom: 40px;
  left: 40px;
  overflow-y: auto;
  position: absolute;
  right: 40px;
  top: 90px;
}
.tea-modal.social-modal .content a {
  display: inline-block;
  margin: 0 20px 20px 0;
  text-align: center;
  width: 200px;
}
.tea-modal .content pre {
  color: #000000;
  font-family: inherit;
  margin: 0;
  text-align: left;
  white-space: pre-wrap;
}
.tea-modal-backdrop {
  background: #000000;
  bottom: 0;
  display: none;
  min-height: 360px;
  left: 0;
  opacity: .7;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}
.tea-modal-backdrop.opened {
  display: block;
}
@media (max-width: 782px) {
  #poststuff .tea-modal header h2,
  .tea-modal header h2 {
    display: block;
    font-size: 14px;
    overflow: hidden;
  }
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Network plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-connection {
  background-color: #000000;
  border: 5px solid #f1f1f1;
  color: #ffffff;
  display: inline-block;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 1%;
  max-width: 47%;
  padding: 30px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  width: 47%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}
a.tea-connection:before {
  background-color: #55bb3a;
  bottom: 0;
  content: "";
  left: -10px;
  position: absolute;
  top: 0;
  width: 5px;
}
.tea-connection.is-active,
.tea-connection:focus,
.tea-connection:hover {
  color: #ffffff;
  -webkit-box-shadow: inset 0 -90px 0 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 -90px 0 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -90px 0 0 rgba(0, 0, 0, 0.5);
}
.tea-connection.is-active {
  border-color: #91d04d;
}
.tea-connection .fa-stack {
  background-color: rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  line-height: 80px;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.tea-connection.is-active .fa-stack,
.tea-connection:focus .fa-stack,
.tea-connection:hover .fa-stack {
  background-color: rgba(0, 0, 0, 0);
}
.tea-connection.tea-dribbble {
  background-color: #ea4c89;
}
.tea-connection.tea-facebook {
  background-color: #3b5998;
}
.tea-connection.tea-flickr {
  background-color: #ff0084;
}
.tea-connection.tea-foursquare {
  background-color: #0072b1;
}
.tea-connection.tea-google-plus {
  background-color: #dd4b39;
}
.tea-connection.tea-instagram {
  background-color: #517fa4;
}
.tea-connection.tea-linkedin {
  background-color: #007bb6;
}
.tea-connection.tea-pinterest {
  background-color: #cb2027;
}
.tea-connection.tea-soundcloud {
  background-color: #ff3a00;
}
.tea-connection.tea-stumbleupon {
  background-color: #eb4823;
}
.tea-connection.tea-tumblr {
  background-color: #32506d;
}
.tea-connection.tea-twitter {
  background-color: #00aced;
}
.tea-connection.tea-vimeo {
  background-color: #aad450;
}
.tea-connection.tea-vk {
  background-color: #45668e;
}
.tea-connection.tea-wordpress {
  background-color: #21759b;
}
.tea-connection.tea-yahoo {
  background-color: #7b0099;
}
.tea-connection.tea-youtube {
  background-color: #bb0000;
}
@media (max-width: 782px) {
  .tea-connection {
    display: block;
    margin: 20px auto;
    max-width: 88%;
    padding: 20px 15px;
    width: 88%;
  }
  .tea-connection .fa-stack {
    height: 60px;
    line-height: 60px;
    width: 40px;
  }
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Radio plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.radio p {
  margin: 0 0 10px;
}
.tea-inside.radio label {
  background-color: #ffffff;
  border-left: 5px solid #e5f7e5;
  display: block;
  padding: 5px;
}
.tea-inside.radio label.selected {
  border-left-color: #91d04d;
  color: #91d04d;
}
.tea-inside.radio label:hover {
  background-color: #e5f7e5;
}
/*-- RADIO IMAGE --*/
.tea-inside.radio .radio-image p {
  float: left;
  margin: 0 1% 10px;
  position: relative;
  text-align: center;
  width: 18%;
}
.tea-inside.radio .radio-image p:nth-child(5n+1) {
  clear: left;
}
.tea-inside.radio .radio-image label {
  border-bottom: 5px solid #e5f7e5;
  border-left: 0;
}
.tea-inside.radio .radio-image label.selected {
  border-bottom-color: #91d04d;
}
.tea-inside.radio .radio-image input[type="radio"] {
  left: 50%;
  margin: -10px 0 0 -10px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
.tea-inside.radio .radio-image img {
  position: relative;
  z-index: 2;
}
/*-- RADIO RATE --*/
.tea-inside.radio .radio-rate label input {
  display: block;
  margin: 0 auto 2px;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * RTE plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Screen meta plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
/*--- [GLOBALS] ---*/
.tea_to_wrap.tea-screen-meta {
  background-color: #f1f1f1;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  display: block;
  margin: 0 5px 20px;
  position: relative;
}
.tea_to_wrap.tea-screen-meta .tea-contextual-help-wrap {
  margin: 0 0 0 -4px;
  overflow: auto;
  padding: 0;
  position: relative;
}
.tea_to_wrap.tea-screen-meta .tea-contextual-help-back {
  background-color: #ffffff;
  border-color: #dddddd;
  border-style: solid;
  border-width: 0 1px;
  bottom: 0;
  left: 220px;
  position: absolute;
  right: 20px;
  top: 0;
}
.postbox .tea_to_wrap.tea-screen-meta.tea_to_review .tea-contextual-help-back {
  left: 140px;
}
.tea_to_wrap.tea-screen-meta .tea-contextual-help-columns {
  position: relative;
}
/*--- [MENU] ---*/
.tea_to_wrap.tea-screen-meta .contextual-help-tabs {
  width: 220px;
}
.postbox .tea_to_wrap.tea-screen-meta.tea_to_review .contextual-help-tabs {
  width: 140px;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs h2 {
  padding-left: 16px !important;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs h2 img {
  vertical-align: middle;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs a {
  color: #55bb3a;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs a:focus,
.tea_to_wrap.tea-screen-meta .contextual-help-tabs a:hover {
  color: #000000;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .active {
  background: #ffffff;
  border-left: 2px solid #91d04d;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .active a {
  color: #000000;
}
.tea_to_wrap.tea-screen-meta.tea_to_review .contextual-help-tabs li {
  text-align: center;
}
.postbox .tea_to_wrap.tea-screen-meta.tea_to_review .contextual-help-tabs li {
  text-align: left;
}
.tea_to_wrap.tea-screen-meta.tea_to_review .contextual-help-tabs li a {
  padding-left: 5px;
  position: relative;
}
.tea_to_wrap.tea-screen-meta.tea_to_review .contextual-help-tabs li .details {
  float: right;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs hr {
  margin-left: 4px;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .button-create {
  background: #91d04d;
  border-color: #55bb3a;
  color: #ffffff;
  display: block;
  font-size: 16px;
  height: auto;
  line-height: 50px;
  margin: 0 auto 10px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .button-create:hover {
  background: #55bb3a;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .button-index {
  color: #ffffff;
  border-color: #2581a2;
  background: #2ea2cc;
  display: block;
  font-size: 16px;
  height: auto;
  line-height: 50px;
  margin: 0 auto 10px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08);
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .button-index:hover {
  background: #2581a2;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .submitsuccess {
  background: transparent;
  border: none;
  color: #2ea2cc;
  cursor: pointer;
  display: block;
  margin: 0 auto 10px;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .submitsuccess:hover {
  color: #1b6079;
  text-decoration: underline;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .submitdelete {
  background: transparent;
  border: none;
  color: #dd3d36;
  cursor: pointer;
  display: block;
  margin: 0 auto 10px;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .submitdelete:hover {
  color: red;
  text-decoration: underline;
}
.tea_to_wrap.tea-screen-meta .contextual-help-tabs .forms .button.button-primary {
  display: block;
  margin: 0 auto;
}
/*--- [CONTENTS] ---*/
.tea_to_wrap.tea-screen-meta .contextual-help-tabs-wrap {
  padding: 15px 20px;
  position: relative;
}
/*--- [RESPONSIVE] ---*/
@media (max-width: 782px) {
  .tea_to_wrap .tea-contextual-help-wrap {
    margin-left: 0;
  }
  .tea_to_wrap .tea-contextual-help-back {
    left: 10px;
    right: 10px;
    top: 0;
  }
  .tea_to_wrap .contextual-help-tabs {
    float: none;
    padding: 0 11px;
    width: auto;
  }
  .tea_to_wrap .contextual-help-tabs ul {
    background-color: #f1f1f1;
    border: 1px solid #dddddd;
    border-width: 1px 0;
    margin: 0 -1px;
    padding: 3px 1px;
  }
  .tea_to_wrap .contextual-help-tabs li {
    border-width: 0 0 2px 0;
    display: inline-block;
  }
  .tea_to_wrap .contextual-help-tabs .active {
    border-bottom: 2px solid #91d04d;
    border-left: 0;
    margin-right: 0;
  }
  .tea_to_wrap .contextual-help-tabs a {
    padding: 5px 12px;
  }
  .tea_to_wrap .contextual-help-tabs .active a {
    border: none;
  }
  .tea_to_wrap .contextual-help-tabs hr {
    display: none;
  }
  .tea_to_wrap .contextual-help-tabs .forms {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 350px;
  }
  .tea_to_wrap .contextual-help-tabs .forms form {
    float: right;
    margin: 0 5px;
  }
  .tea_to_wrap .contextual-help-tabs .forms .submitdelete {
    margin: 5px auto;
  }
  .tea_to_wrap .help-tab-content {
    margin: 0;
  }
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Social plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.social div {
  margin: 0 0 10px 0;
}
.tea-inside.social label {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 50px;
}
.tea-inside.social input[type="checkbox"] {
  margin: -2px 15px 0 0;
}
.tea-inside.social input[type="text"] {
  display: inline-block;
  margin: 0 10px 0 0;
  vertical-align: middle;
  width: 300px;
}
@media (max-width: 782px) {
  .tea_to_wrap .inside.social label {
    margin-right: 1%;
    width: 14%;
  }
  .tea_to_wrap .inside.social input[type="text"] {
    margin-right: 0;
    width: 41%;
  }
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Textarea plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.textarea {
  position: relative;
}
.tea-inside.textarea .counter {
  background-color: #dddddd;
  font-size: 10px;
  left: 98%;
  margin-left: -12px;
  padding: 2px 6px;
  position: absolute;
  text-align: center;
  -webkit-transition: background ease .5s;
  -moz-transition: background ease .5s;
  transition: background ease .5s;
}
.tea-inside.textarea .counter.on {
  background-color: rgba(85, 187, 58, 0.3);
  box-shadow: 0 0 0 2px rgba(85, 187, 58, 0.3);
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Upload plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
.tea-inside.upload .upload_image_result {
  margin-top: 10px;
  text-align: center;
}
.tea-inside.upload .upload_image_result figure {
  background: url(../img/bg-upload.png) 0 0;
  display: block;
  margin-bottom: 10px;
  opacity: 1;
  padding: 10px;
  position: relative;
}
.tea-inside.upload .upload_image_result figure img {
  max-width: 100%;
  vertical-align: middle;
}
.tea-inside.upload .upload_image_result ul {
  list-style: none;
}
.tea-inside.upload .upload_image_result li {
  background: url(../img/bg-upload.png) 0 0;
  display: inline-block;
  height: 150px;
  margin: 0 10px 10px 0;
  opacity: 1;
  overflow: hidden;
  padding: 5px;
  position: relative;
  vertical-align: top;
  width: 150px;
}
.tea-inside.upload .upload_image_result li img {
  display: block;
  margin: 10px auto 0;
}
.tea-inside.upload .upload_image_result li img.image {
  left: 50%;
  margin: 0;
  max-height: 120px;
  max-width: 130px;
  padding: 5px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.tea-inside.upload .upload_image_result div.upload-time {
  background-image: url(../img/bg-upload.png);
  padding: 10px;
}
.tea-inside.upload .upload_image_result div.upload-time.item-added {
  background-image: none;
  padding: 0 5px;
}
.tea-inside.upload .upload_image_result li.upload-time a,
.tea-inside.upload .upload_image_result div.upload-time a {
  background: #fbfbfb;
  border: 1px solid #dddddd;
  box-shadow: 0 0 0 4px rgba(85, 187, 58, 0.3);
  color: #91d04d;
  display: block;
  font-size: 30px;
  padding: 38px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: border ease .5s;
  -moz-transition: border ease .5s;
  transition: border ease .5s;
}
.tea-inside.upload .upload_image_result li.upload-time a:focus,
.tea-inside.upload .upload_image_result li.upload-time a:hover,
.tea-inside.upload .upload_image_result div.upload-time a:focus,
.tea-inside.upload .upload_image_result div.upload-time a:hover {
  color: #55bb3a;
  border: 1px solid #55bb3a;
  box-shadow: 0 0 0 4px rgba(85, 187, 58, 0.6);
}
.tea-inside.upload .upload_image_result li.upload-time a {
  display: block;
  font-size: 20px;
  margin-top: 4px;
  padding: 36px 5px;
  text-align: center;
  text-decoration: none;
}
.tea-inside.upload .upload_image_result li.upload-time a i {
  display: block;
  font-size: 50px;
  line-height: 50px;
}
.tea-inside.upload .upload_image_result div.upload-time.item-added a {
  background: none;
  border: 0;
  box-shadow: none;
  font-size: 16px;
  padding: 5px 0;
}
.tea-inside.upload .upload_image_result .del_item,
.tea-inside.upload .upload_image_result .del_image {
  background-color: #ffffff;
  color: #dd3d36;
  display: block;
  font-size: 18px;
  font-weight: 700;
  height: 20px;
  line-height: 20px;
  padding: 4px 8px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  z-index: 4;
}
.tea-inside.upload .upload_image_result .del_item:hover,
.tea-inside.upload .upload_image_result .del_image:hover {
  color: #ff0000;
}
/*--- [DRAGGABLE] ---*/
.tea-inside.upload .draggable:before {
  background-color: #ffffff;
  bottom: 0;
  cursor: move;
  height: 25px;
  line-height: 28px;
  left: 0;
  top: auto;
  z-index: 1;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Responsive CSS
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */
@media (max-width: 1300px) {
  .tea_to_wrap .tea-nav-menus-frame {
    margin-left: 0;
  }
  .tea_to_wrap .tea-menu-settings-column {
    display: block;
    float: none;
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
  }
  .tea_to_wrap .tea-menu-management-liquid {
    float: none;
  }
}
@media (max-width: 990px) {
  .tea_to_wrap .tea-nav-menus-frame {
    margin-left: 0;
  }
  .tea_to_wrap .tea-menu-settings-column {
    display: block;
    float: none;
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
  }
  .tea_to_wrap .tea-menu-management-liquid {
    float: none;
  }
  .tea_to_wrap #poststuff #post-body.columns-2 {
    margin-right: 0;
  }
  .tea_to_wrap #post-body-content {
    float: none;
  }
  .tea_to_wrap #post-body.columns-2 #postbox-container-1 {
    float: none;
    margin-right: 0;
    width: 100%;
  }
  div.tea_to_message .connect-button {
    display: block;
    left: 0;
    margin: 5px 0;
    position: relative;
    top: auto;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
@media (max-width: 900px) {
  #poststuff .tea-inside.inside-section,
  .tea-inside.inside-section {
    margin: 0 -17px;
  }
  .tea-inside.inside-section div.right,
  .tea-inside.inside-section div.left {
    float: none;
    margin-left: 5%;
    max-width: 90%;
    position: relative;
    width: 90%;
    z-index: 2;
  }
  .tea-inside.inside-section div.right.imaged,
  .tea-inside.inside-section div.left.imaged {
    opacity: .2;
    position: absolute;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .tea-inside.inside-section div.left.imaged {
    left: 0;
  }
  .tea-inside.inside-section div.right.imaged {
    right: 0;
  }
  .tea-inside.inside-section,
  #poststuff .tea-inside.inside-section {
    overflow: hidden;
  }
}
@media (max-width: 782px) {
  .teato-mainwrap #wpbody-content .wrap {
    margin-left: -10px;
  }
}
