/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> :)
 *
 * Main color:      #d04d4d
 * Second color:    #f7e5e5
 */


/*--- [@FONT-FACE] ---*/
@font-face {
    font-family:'Raleway';
    font-style:normal;
    font-weight:200;
    src:local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../fonts/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family:'Raleway';
    font-style:normal;
    font-weight:400;
    src:local('Raleway'), url(../fonts/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


/*--- [MAIN CONTENT] ---*/
html {
    background-color:#f7f7f7;
    background-image:url(../img/section-square.png);
}
html.wp-toolbar {
    padding-top:52px;
}
h1, h2, h3 {
    font-family:'Raleway','Open Sans',sans-serif;
    font-weight:200;
}
h1 strong, h2 strong, h3 strong {
    font-weight:400;
}
h1 {
    font-size:38px;
    line-height:46px;
    margin:0;
    text-align:center;
}
a {
    color:#bb3a3a;
    text-decoration:none;
}
a:focus, a:hover {
    color:#d04d4d;
}


/*--- [ADMINBAR] ---*/
#wpadminbar {
    border-top:2px solid #d04d4d;
    height:52px;
    -webkit-box-shadow:0 3px 0 rgba(0,0,0,.25);
    -moz-box-shadow:0 3px 0 rgba(0,0,0,.25);
    box-shadow:0 3px 0 rgba(0,0,0,.25);
}
#wpadminbar * {
    line-height:52px;
}
#wpadminbar #adminbarsearch:before,
#wpadminbar .ab-icon:before,
#wpadminbar .ab-item:before {
    color:#fff;
}
#wpadminbar .ab-top-menu>li.hover>.ab-item,
#wpadminbar .ab-top-menu>li:hover>.ab-item,
#wpadminbar .ab-top-menu>li>.ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus {
    background:#111;
    color:#d04d4d;
}
#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
    background:#111;
    -webkit-box-shadow:0 3px 0 rgba(0,0,0,.25);
    -moz-box-shadow:0 3px 0 rgba(0,0,0,.25);
    box-shadow:0 3px 0 rgba(0,0,0,.25);
}
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar>#wp-toolbar a:focus span.ab-label,
#wpadminbar>#wp-toolbar li.hover span.ab-label,
#wpadminbar>#wp-toolbar li:hover span.ab-label {
    color:#d04d4d;
}
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .quicklinks a,
#wpadminbar .shortlink-input {
    height:52px;
}
#wpadminbar .ab-icon,
#wpadminbar .ab-item:before {
    margin-top:10px;
}
#wpadminbar #wp-admin-bar-my-sites>.ab-item:before,
#wpadminbar #wp-admin-bar-site-name>.ab-item:before {
    top:1px;
}
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar>a img {
    margin-left:12px;
}
#wpadminbar .quicklinks>ul>li>a {
    padding:0 20px;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions>li {
    margin:0 16px;
    text-align:center;
}
#wp-admin-bar-user-info .avatar {
    position:static;
}
#wpadminbar #wp-admin-bar-user-info span,
#wpadminbar #wp-admin-bar-user-info a {
    height:auto;
}
#wpadminbar #wp-admin-bar-user-info span {
    line-height:26px;
}


/*--- [MENU] ---*/
ul#adminmenu div.wp-menu-image:before,
ul#adminmenu a {
    color:#fff;
}
#collapse-menu:hover,
#collapse-menu:hover #collapse-button div:after,
ul#adminmenu li:focus div.wp-menu-image:before,
ul#adminmenu li:hover div.wp-menu-image:before,
ul#adminmenu a:focus div.wp-menu-image:before,
ul#adminmenu a:hover div.wp-menu-image:before,
ul#adminmenu .wp-submenu a:focus,
ul#adminmenu .wp-submenu a:hover,
ul#adminmenu a:hover,
ul#adminmenu li.menu-top>a:focus,
ul#adminmenu .opensub .wp-submenu li.current a,
ul#adminmenu .wp-submenu li.current,
ul#adminmenu .wp-submenu li.current a,
ul#adminmenu .wp-submenu li.current a:focus,
ul#adminmenu .wp-submenu li.current a:hover,
ul#adminmenu a.wp-has-current-submenu:focus+.wp-submenu li.current a {
    color:#d04d4d;
}
#adminmenu li.current a.menu-top,
ul#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu {
    background:#3b3d3c;
    color:#fff;
}
ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after,
ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu>li.current>a.current:after {
    background:#d04d4d;
    border:none;
    bottom:0;
    content:" ";
    height:auto;
    margin-top:0;
    width:6px;
    top:0;
}
ul#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after,
ul#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
    background:#303231;
}
ul#adminmenu .wp-submenu,
.folded ul#adminmenu .wp-has-current-submenu .wp-submenu,
.folded ul#adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
    background:#303231;
    -webkit-box-shadow:0 3px 0 rgba(0,0,0,.25);
    -moz-box-shadow:0 3px 0 rgba(0,0,0,.25);
    box-shadow:0 3px 0 rgba(0,0,0,.25);
}
ul#adminmenu .wp-submenu a {
    color:#fff;
}
ul#adminmenu .wp-menu-image img {
    opacity:1;
    filter:alpha(opacity=100);
}
#collapse-menu,
#collapse-button div:after {
    color:#3b3d3c;
}
#adminmenu li.wp-menu-separator {
    border-bottom:1px solid #333;
    border-top:1px solid #111;
    height:0px;
    margin:10px 0;
}


/*--- [LINKS & BUTTONS] ---*/
.wrap .add-new-h2, .wrap .add-new-h2:active {
    background:#3b3d3c;
    border-left:6px solid #d04d4d;
    border-radius:0;
    color:#fff;
    font-weight:700;
    padding:6px 14px;
    text-transform:uppercase;
}
.wrap .add-new-h2:hover {
    background:#d04d4d;
    border-left:6px solid #3b3d3c;
    color:#fff;
}
.view-switch a.current:before {
    color:#d04d4d;
}
.post-com-count:hover span {
    background-color:#d04d4d;
}
.post-com-count:hover:after {
    border-top:5px solid #d04d4d;
}
input[type=checkbox]:checked:before {
    color:#d04d4d;
}
.wp-core-ui .button-primary {
    background:#d04d4d;
    border-color:#bb3a3a;
    -webkit-box-shadow:inset 0 1px 0 rgba(208,77,77,.5),0 1px 0 rgba(0,0,0,.15);
    -moz-box-shadow:inset 0 1px 0 rgba(208,77,77,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow:inset 0 1px 0 rgba(208,77,77,.5),0 1px 0 rgba(0,0,0,.15);
}
.wp-core-ui .button-primary.focus,
.wp-core-ui .button-primary.hover,
.wp-core-ui .button-primary:focus,
.wp-core-ui .button-primary:hover {
    background:#bb3a3a;
    border-color:#bb3a3a;
    -webkit-box-shadow:inset 0 1px 0 rgba(208,77,77,.5),0 1px 0 rgba(0,0,0,.15);
    -moz-box-shadow:inset 0 1px 0 rgba(208,77,77,.5),0 1px 0 rgba(0,0,0,.15);
    box-shadow:inset 0 1px 0 rgba(208,77,77,.5),0 1px 0 rgba(0,0,0,.15);
}


/*--- [MESSAGES] ---*/
#update-nag,
.update-nag {
    border:1px solid #ffba00;
    display:block;
    margin:32px 18px 32px 0px;
}


/*--- [TABLES] ---*/
.plugins .active th.check-column {
    border-left:4px solid #d04d4d;
}
.plugins .active td, .plugins .active th {
    background-color:#f7f7f7;
}
.star-rating .star,
.wp-list-table a.row-title {
    color:#3b3d3c;
}


/*--- [THEMES] ---*/
.theme-overlay .theme-header .close:focus,
.theme-overlay .theme-header .close:hover,
.theme-overlay .theme-header .left:focus,
.theme-overlay .theme-header .left:hover,
.theme-overlay .theme-header .right:focus,
.theme-overlay .theme-header .right:hover,
.theme-browser .theme.add-new-theme:focus:after,
.theme-browser .theme.add-new-theme:hover:after {
    background:#d04d4d;
}
.theme-browser .theme.add-new-theme:focus span:after,
.theme-browser .theme.add-new-theme:hover span:after {
    color:#d04d4d;
}


/*--- [META] ---*/
#contextual-help-wrap {
    background-color:#f1f1f1;
}
#contextual-help-back {
    background-color:#fff;
}
.contextual-help-tabs .active {
    background-color:#fff;
    border-left-color:#d04d4d;
}


/*--- [POSTBOX] ---*/
.postbox {
    -webkit-box-shadow:0 3px 0 rgba(0,0,0,.05);
    -moz-box-shadow:0 3px 0 rgba(0,0,0,.05);
    box-shadow:0 3px 0 rgba(0,0,0,.05);
}
.postbox > h3 {
    background:#ddd;
    -webkit-box-shadow:inset 0 -10px 10px -5px rgba(0,0,0,.1);
    -moz-box-shadow:inset 0 -10px 10px -5px rgba(0,0,0,.1);
    box-shadow:inset 0 -10px 10px -5px rgba(0,0,0,.1);
}


/*--- [INPUTS] ---*/
input[type=checkbox]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
    border:1px solid #d04d4d;
    color:#d04d4d;
    outline:0;
    -webkit-box-shadow:0 0 2px rgba(247,229,229,.8);
    -moz-box-shadow:0 0 2px rgba(247,229,229,.8);
    box-shadow:0 0 2px rgba(247,229,229,.8);
}
.drag-drop #drag-drop-area {
    background-color:#fff;
    border:4px solid #fff;
    position:relative;
    -webkit-box-shadow:0 3px 0 1px rgba(0,0,0,.05);
    -moz-box-shadow:0 3px 0 1px rgba(0,0,0,.05);
    box-shadow:0 3px 0 1px rgba(0,0,0,.05);
}
.drag-drop.drag-over #drag-drop-area {
    border-color:#d04d4d;
}
.drag-drop .drag-drop-inside {
    left:50%;
    margin:0;
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%) translateX(-50%);
    -moz-transform:translateY(-50%) translateX(-50%);
    transform:translateY(-50%) translateX(-50%);
}


/*--- [DATE] ---*/
.tea-inside.date .picker--focused .picker__day--selected,
.tea-inside.date .picker__day--selected,
.tea-inside.date .picker__day--selected:hover {
    background:#d04d4d;
}
.tea-inside.date .picker--focused .picker__day--highlighted,
.tea-inside.date .picker__day--highlighted:hover,
.tea-inside.date .picker__nav--next:hover,
.tea-inside.date .picker__nav--prev:hover,
.tea-inside.date .picker__day--infocus:hover,
.tea-inside.date .picker__day--outfocus:hover,
.tea-inside.date .picker__button--clear:hover,
.tea-inside.date .picker__button--close:hover,
.tea-inside.date .picker__button--today:hover {
    background:#f7e5e5;
    border-bottom:0;
}
.tea-inside.date .picker__header select,
.tea-inside.date .picker__button--clear:focus,
.tea-inside.date .picker__button--close:focus,
.tea-inside.date .picker__button--today:focus,
.tea-inside.date .picker__input.picker__input--active,
.tea-inside.date .picker__day--highlighted {
    border-color:#d04d4d;
}
.tea-inside.date .picker__button--today:before {
    border-top-color:#d04d4d;
}


/*--- [MODALS] ---*/
.media-modal-close:hover .media-modal-icon:before,
.media-frame a {
    color:#d04d4d;
}
.media-frame a:hover {
    color:#bb3a3a;
}
.wp-core-ui .button-primary-disabled,
.wp-core-ui .button-primary.disabled,
.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
    color:#aaa!important;
    border-color:#ddd!important;
    background:#f7f7f7!important;
}
.attachment.details {
    -webkit-box-shadow:0 0 0 1px #fff,0 0 0 5px #d04d4d;
    -moz-box-shadow:0 0 0 1px #fff,0 0 0 5px #d04d4d;
    box-shadow:0 0 0 1px #fff,0 0 0 5px #d04d4d;
}
.attachment.details .check {
    background-color:#d04d4d;
    -webkit-box-shadow:0 0 0 1px #fff,0 0 0 2px #d04d4d;
    -moz-box-shadow:0 0 0 1px #fff,0 0 0 2px #d04d4d;
    box-shadow:0 0 0 1px #fff,0 0 0 2px #d04d4d;
}
.media-progress-bar div {
    background-color:#d04d4d;
}


/*--- [TEA.T.O] ---*/
.tea-main-nav {
    padding-top:3px;
}


/*--- [RESPONSIVE] ---*/
@media (max-width:782px) {
    html.wp-toolbar {
        padding-top:48px;
    }
    #wpadminbar .ab-icon,
    #wpadminbar .ab-item:before {
        margin-top:0;
    }
    #wpadminbar #wp-admin-bar-my-sites>.ab-item:before,
    #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
        top:7px;
    }
}
@media (max-width:600px) {
    html.wp-toolbar {
        padding-top:0;
    }
    #wpadminbar>#wp-toolbar>#wp-admin-bar-root-default .ab-icon {
        margin-top:0;
    }
}
