/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> :)
 */


/*--- [@FONT-FACE] ---*/
@font-face {
    font-family:'Raleway';
    font-style:normal;
    font-weight:200;
    src:local('Raleway ExtraLight'), local('Raleway-ExtraLight'), url(../fonts/8KhZd3VQBtXTAznvKjw-k73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
    font-family:'Raleway';
    font-style:normal;
    font-weight:400;
    src:local('Raleway'), url(../fonts/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}


/*--- [MAIN CONTENT] ---*/
html {
    background-color:#f7f7f7;
}
h1, h2, h3 {
    font-family:'Raleway','Open Sans',sans-serif;
    font-weight:200;
}
h1 strong, h2 strong, h3 strong {
    font-weight:400;
}
h1 {
    font-size:38px;
    line-height:46px;
    margin:0;
    text-align:center;
}
.teato-mainwrap #wpcontent,
.teato-mainwrap #wpfooter {
    display:block;
}
.teato-mainwrap .auto-fold #wpcontent {
    padding-left:0;
}
.teato-mainwrap #wpbody-content .wrap {
    margin:0 0 0 -20px;
}
.teato-mainwrap #poststuff {
    padding:10px 2% 0;
    max-width:100%;
    min-width:92%;
}
.teato-mainwrap #wpfooter {
    padding:10px 19px;
}


/*--- [MESSAGE] ---*/
#update-nag,
.update-nag {
    border:1px solid #ffba00;
    display:block;
    margin:32px 18px 32px 0px;
}
div.tea_to_message {
    background-color:#91d04d;
    background-image:url(../img/section-square.png);
    clear:both;
    color:#fff;
    overflow:hidden;
    position:relative;
}
div.tea_to_message:after {
    background-image:url(../img/cog-green.svg);
    background-repeat:no-repeat;
    content:"";
    display:block;
    height:284px;
    left:-120px;
    position:absolute;
    top:10px;
    width:284px;
    z-index:1;
}
div.tea_to_message .dismiss-button {
    color:#fff;
    float:right;
    margin-top:5px;
    opacity:.4;
    position:relative;
    z-index:3;
}
div.tea_to_message .dismiss-button:focus,
div.tea_to_message .dismiss-button:hover {
    opacity:1;
}
div.tea_to_message .connect-button {
    background:#3b3d3c;
    color:#fff;
    display:block;
    font-size:20px;
    padding:10px 20px;
    position:absolute;
    right:35px;
    text-align:center;
    top:50%;
    z-index:3;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);
}
div.tea_to_message .connect-button:focus,
div.tea_to_message .connect-button:hover {
    background:#111;
}
div.tea_to_message p {
    font-size:14px;
    position:relative;
    z-index:2;
}
div.tea_to_message p strong {
    display:block;
    font-size:20px;
    font-weight:400;
}


/*--- [MAIN NAV] ---*/
.tea-main-nav {
    background-color:#91d04d;
    background-image:url(../img/section-square.png);
    position:relative;
    z-index:2;
}
.tea-main-nav ul {
    box-shadow:inset 0 -4px 10px rgba(0,0,0,.3);
    font-size:0;
    list-style:none;
    margin:0;
    overflow:hidden;
    padding:0 14px;
    position:relative;
}
.tea-main-nav ul:after {
    background-image:url(../img/cog-gray.svg);
    background-repeat:no-repeat;
    content:"";
    display:block;
    height:367px;
    position:absolute;
    right:-120px;
    top:10px;
    width:367px;
    z-index:1;
}
.tea-main-nav li {
    color:#fff;
    display:inline-block;
    font-size:14px;
    font-weight:normal;
    height:60px;
    line-height:60px;
    margin:0;
    padding:0 5px;
    position:relative;
    vertical-align:top;
    z-index:2;
}
.tea-main-nav li.tea-logo {
    font-family:Verdana,Arial,sans-serif;
    font-size:16px;
    font-weight:700;
    margin-right:10px;
    text-transform:uppercase;
}
.tea-main-nav li.tea-logo img {
    margin:-2px 10px 0 0;
    max-height:54px;
    vertical-align:middle;
}
.tea-main-nav a {
    color:#fff;
    display:block;
    line-height:60px;
    padding:0 14px;
    text-decoration:none;
}
.tea-main-nav a:focus,
.tea-main-nav a:hover,
.tea-main-nav a.current {
    background-color:#f7f7f7;
    background-image:url(../img/section-square.png);
    color:#55bb3a;
}


/*--- [MAIN FOOTER] ---*/
.teato-footer {
    font-family:'Raleway','Open Sans',sans-serif;
    margin:60px auto 40px;
    max-width:95%;
    text-align:center;
    width:600px;
}
.teato-footer hr,
.teato-footer p {
    margin:5px 0;
}
.teato-footer a {
    color:#008246;
    text-decoration:none;
}
.teato-footer a:focus,
.teato-footer a:hover {
    color:#55bb3a;
}
hr {
    border-bottom:1px solid #fff;
}


/*--- [CLEARFIX] ---*/
.clearfix:before, .clearfix:after {
    content:"";
    display:table;
    line-height:0;
}
.clearfix:after {
    clear:both;
}


/*--- [TEA_TO_WRAP] ---*/
.tea_tax_main {
    margin-top:30px;
}
.tea_to_wrap {
    background:#fff;
    border:1px solid #e5e5e5;
    line-height:1;
    margin-bottom:20px;
    padding:0;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.04);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,.04);
    box-shadow:0 1px 1px rgba(0,0,0,.04);
}
.tea_tax_main .tea_to_wrap,
.tea_tax_wrap .tea_to_wrap {
    background:transparent;
    border:none;
    clear:both;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.tea_tax_wrap .tea_to_wrap > h3 {
    float:left;
    margin:0;
    padding:0 10px 0 0;
    width:200px;
}
.tea_to_wrap .inside {
    font-size:13px;
    line-height:1.4em;
    padding:0 12px 12px;
}
.tea_tax_main .tea_to_wrap > .inside {
    padding:0;
}
.tea_tax_wrap .tea_to_wrap > .inside {
    margin-left:210px;
    padding:0 10px;
}
.meta-box-sortables .tea_to_wrap {
    border:none;
    margin:0;
    padding:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.meta-box-sortables .tea_to_wrap .tea_title {
    display:none;
}
.meta-box-sortables .tea_to_wrap .inside {
    padding:0;
}


/*--- [LABELS] ---*/
.tea_to_wrap label.inlineblock {
    display:inline-block;
    width:250px;
}


/*--- [DASHBOARD] ---*/
.tea_to.wrap .accordion-section-content {
    padding:15px;
}
.tea_to.wrap .tea-nav-menus-frame {
    display:block;
    margin-left:300px;
    margin-top:23px;
}
.tea_to.wrap .tea-menu-settings-column {
    clear:both;
    display:inline;
    float:left;
    margin-left:-300px;
    padding-top:0 !important;
    width:281px;
}
.tea_to.wrap .tea-menu-settings-column .label-add-page {
    display:block;
    margin-bottom:10px;
}
.tea_to.wrap .tea-menu-settings-column .label-add-page span {
    display:block;
}
.tea_to.wrap .tea-menu-settings-column .inside {
    background-color:#fff;
    border:1px solid #dfdfdf;
    margin:0 !important;
    padding:10px;
}
.tea_to.wrap .dashboard-page-listing li {
    margin:0;
    padding:5px 0;
}
.tea_to.wrap .dashboard-page-listing a {
    display:block;
    text-decoration:none;
}
.tea_to.wrap .dashboard-page-listing a:hover {
    text-decoration:underline;
}
.tea_to.wrap .dashboard-page-listing .active a {
    color:#000;
    font-weight:700;
}
.tea_to.wrap .tea-menu-management-liquid {
    float:left;
    margin-top:3px;
    min-width:100%;
}
.tea_to.wrap .tea-dashoard-content {
    display:none;
    margin-right:20px;
    margin-top:-3px;
    position:relative;
    width:100%;
}
.tea_to.wrap .tea-dashoard-content.open {
    display:block;
}
.tea_to.wrap .tea-dashoard-content .menu-edit {
    background-color:#fdfdfd;
    border:1px solid #dfdfdf;
    border-radius:3px;
    margin-bottom:20px;
}
.tea_to.wrap .tea-dashoard-content .tea-nav-menu-header {
    border-bottom:1px solid #dfdfdf;
    padding:0 10px;
}
.tea_to.wrap .tea-dashoard-content .tea-nav-menu-footer {
    border-top:1px solid #fff;
    padding:0 10px;
}
.tea_to.wrap .tea-dashoard-content .tea-nav-menu-header,
.tea_to.wrap .tea-dashoard-content .tea-nav-menu-footer {
    background:#f1f1f1 linear-gradient(to top,#ececec,#f9f9f9);
}
.tea_to.wrap .tea-edit-screen {
    background-color:#f1f1f1;
    border-bottom:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 3px rgba(0,0,0,0.05);
    display:none;
    margin:0;
    padding:10px;
    position:relative;
}
.tea_to.wrap .tea-edit-screen-link {
    margin:0 24px 0 0;
}
.tea_to.wrap .tea-edit-screen-link .screen-meta-toggle {
    background:#e3e3e3 linear-gradient(to top,#dfdfdf,#f1f1f1);
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    border-bottom:1px solid #ccc;
    float:right;
    font-family:sans-serif;
    height:23px;
    margin:0 0 0 6px;
    padding:0;
    position:relative;
    top:-1px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
.tea_to.wrap .tea-edit-screen-link .show-settings {
    background:transparent url(../img/arrows.png) no-repeat right 4px;
    color:#777;
    display:block;
    font-size:12px;
    height:22px;
    line-height:22px;
    padding:1px 16px 0 6px;
    text-decoration:none;
    text-shadow:0 1px 0 rgba(255,255,255,0.7);
    z-index:1;
}
.tea_to.wrap .tea-edit-screen-link .show-settings.screen-meta-active {
    background-position:right -31px;
}
.tea_to.wrap .tea-post-body {
    padding:0 15px;
}
.tea_to.wrap .tea-edit-screen .label-add-content {
    display:block;
    margin-bottom:10px;
}
.tea_to.wrap .tea-edit-screen .label-add-content span {
    display:block;
}
.tea_to.wrap .tea-edit-screen .label-add-content input,
.tea_to.wrap .tea-edit-screen .label-add-content select {
    width:100%;
}
.tea_to.wrap .tea-post-body .dashboard-add-content {
    background-color:#fff;
    border:1px solid #dfdfdf;
    margin:10px 0 20px;
    padding:10px;
}
.tea_to.wrap .dashboard-add-content .label-add-content {
    display:inline-block;
    float:left;
    height:26px;
    line-height:24px;
}
.tea_to.wrap .dashboard-add-content .label-add-content span {
    display:inline-block;
}
.tea_to.wrap .dashboard-add-content .label-add-content select {
    width:200px;
}
.tea_to.wrap .dashboard-add-content input {
    float:left;
    margin:1px 0 0 5px;
}
.tea_to.wrap .dashboard-content {
    background-color:#fff;
    border:1px solid #dfdfdf;
    margin:10px 0 20px;
    padding:10px;
}
.tea_to.wrap .dashboard-content .content-id {
    color:#777;
    display:block;
    float:right;
    font-style:italic;
    height:20px;
    line-height:20px;
    margin-right:2px;
}
.tea_to.wrap .dashboard-content .delete {
    color:#bc0b0b;
    display:block;
    height:20px;
    line-height:20px;
    text-decoration:none;
}
.tea_to.wrap .dashboard-content .delete:hover {
    color:#ff0000;
}
.tea_to.wrap .dashboard-content h4 {
    margin:0 0 10px;
}
.tea_to.wrap .dashboard-content p {
    display:block;
    margin-bottom:10px;
}
.tea_to.wrap .dashboard-content .label-edit-options .label-model,
.tea_to.wrap .dashboard-content .label-edit-options {
    display:none;
}
.tea_to.wrap .dashboard-content .label-option,
.tea_to.wrap .dashboard-content .label-first,
.tea_to.wrap .dashboard-content .label-second,
.tea_to.wrap .dashboard-content .label-third {
    float:left;
    line-height:24px;
    margin-bottom:5px;
}
.tea_to.wrap .dashboard-content .label-option {
    width:10%;
}
.tea_to.wrap .dashboard-content .label-first {
    width:90%;
}
.tea_to.wrap .dashboard-content .label-second {
    width:45%;
}
.tea_to.wrap .dashboard-content .label-third {
    width:30%;
}
.tea_to.wrap .tea-menu-edit .label-edit-image label {
    display:block;
    float:left;
    height:24px;
    margin:0 10px 10px 0;
    width:180px;
}
.tea_to.wrap .tea-menu-edit .label-edit-image img {
    float:left;
    margin:0 5px 0 0;
}
.tea_to.wrap .tea-menu-edit .label-edit-image span {
    display:block;
    line-height:24px;
}
.tea_to.wrap .tea-menu-edit .label-edit-image input[type="radio"] {
    margin-right:5px;
}
.tea_to.wrap .tea-menu-edit .label-edit-content {
    display:block;
    margin-bottom:10px;
}
.tea_to.wrap .tea-menu-edit .label-edit-content span {
    display:block;
}
.tea_to.wrap .tea-menu-edit .label-edit-content input[type="number"],
.tea_to.wrap .tea-menu-edit .label-edit-content input[type="range"],
.tea_to.wrap .tea-menu-edit .label-edit-content input[type="text"],
.tea_to.wrap .tea-menu-edit .label-edit-content select,
.tea_to.wrap .tea-menu-edit .label-edit-content textarea {
    width:100%;
}
.tea_to.wrap .tea-menu-edit .label-edit-options select,
.tea_to.wrap .tea-menu-edit .label-edit-options input,
.tea_to.wrap .tea-menu-edit .label-edit-options input[type="text"] {
    width:98%;
}
.tea_to.wrap .tea-menu-edit .label-edit-options input.label-button {
    width:100%;
}


/*--- [SMALLBOXES] ---*/
.tea_to.wrap .inside.count_98 .smallbox,
.tea_to.wrap .inside.count_50 .smallbox,
.tea_to.wrap .inside.count_33 .smallbox,
.tea_to.wrap .inside.count_25 .smallbox {
    float:left;
}
.tea_to.wrap .inside.count_98 .smallbox {
    margin-left:1%;
    margin-right:1%;
    width:98%;
}
.tea_to.wrap .inside.count_50 .smallbox {
    margin-left:1%;
    width:49%;
}
.tea_to.wrap .inside.count_33 .smallbox {
    margin-right:1%;
    width:32%;
}
.tea_to.wrap .inside.count_25 .smallbox {
    margin-left:1%;
    width:24%;
}


/*--- [ALERTS] ---*/
.tea_to.wrap .alert {
    background-color:#fcf8e3;
    border:1px solid #fbeed5;
    color:#c09853;
    margin:10px 19px 0;
    padding:0 10px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
}
.tea_to.wrap .alert h4 {
    margin:0;
}
.tea_to.wrap .alert .close {
    line-height:20px;
    position:relative;
    right:-21px;
    top:-2px;
}
.tea_to.wrap .alert-success {
    background-color:#dff0d8;
    border-color:#d6e9c6;
    color:#468847;
}
.tea_to.wrap .alert-danger {
    background-color:#f2dede;
    border-color:#ebccd1;
    color:#a94442;
    margin:0 5px -3px;
}


/*--- [INSIDES] ---*/
#poststuff h2.tea-clear {
    margin-top:0;
}
.tea_to_wrap .inside p {
    margin:5px 0;
}
.tea_to_wrap textarea:focus,
.tea_to_wrap input[type="text"]:focus,
.tea_to_wrap input[type="password"]:focus,
.tea_to_wrap input[type="datetime"]:focus,
.tea_to_wrap input[type="datetime-local"]:focus,
.tea_to_wrap input[type="date"]:focus,
.tea_to_wrap input[type="month"]:focus,
.tea_to_wrap input[type="time"]:focus,
.tea_to_wrap input[type="week"]:focus,
.tea_to_wrap input[type="number"]:focus,
.tea_to_wrap input[type="email"]:focus,
.tea_to_wrap input[type="url"]:focus,
.tea_to_wrap input[type="search"]:focus,
.tea_to_wrap input[type="tel"]:focus,
.tea_to_wrap input[type="color"]:focus {
    border:1px solid #91d04d;
    color:#91d04d;
    outline:0;
    -webkit-box-shadow:0 0 2px rgba(229,247,229,.8);
    -moz-box-shadow:0 0 2px rgba(229,247,229,.8);
    box-shadow:0 0 2px rgba(229,247,229,.8);
}
.tea_to_wrap textarea,
.tea_to_wrap select,
.tea_to_wrap .inside input[type="text"],
.tea_to_wrap .inside input[type="password"],
.tea_to_wrap .inside input[type="datetime"],
.tea_to_wrap .inside input[type="datetime-local"],
.tea_to_wrap .inside input[type="date"],
.tea_to_wrap .inside input[type="month"],
.tea_to_wrap .inside input[type="time"],
.tea_to_wrap .inside input[type="week"],
.tea_to_wrap .inside input[type="number"],
.tea_to_wrap .inside input[type="email"],
.tea_to_wrap .inside input[type="url"],
.tea_to_wrap .inside input[type="search"],
.tea_to_wrap .inside input[type="tel"],
.tea_to_wrap .inside input[type='file'] {
    width:98%;
}
.tea_to_wrap .inside textarea {
    resize:none;
}


/*--- [SECTION] ---*/
.tea-inside.inside-section,
#poststuff .tea-inside.inside-section {
    font-family:'Raleway','Open Sans',sans-serif;
    font-size:26px;
    line-height:32px;
    margin:0 -26px;
    padding:100px 0;
    position:relative;
}
.tea-inside.inside-section a,
#poststuff .tea-inside.inside-section a {
    color:#008246;
    text-decoration:none;
}
.tea-inside.inside-section a:focus,
.tea-inside.inside-section a:hover,
#poststuff .tea-inside.inside-section a:focus,
#poststuff .tea-inside.inside-section a:hover {
    color:#55bb3a;
}
.tea-inside.inside-section.green {
    background-color:#91d04d;
    background-image:url(../img/section-square.png);
    box-shadow:inset 0 -4px 10px rgba(0,0,0,.3), inset 0 4px 10px rgba(0,0,0,.3);
    color:#fff;
}
.tea-inside.inside-section div {
    max-width:50%;
    width:50%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.tea-inside.inside-section div.imaged {
    text-align:center;
}
.tea-inside.inside-section div.left {
    float:left;
    padding-left:50px;
    padding-right:25px;
}
.tea-inside.inside-section div.right {
    float:right;
    padding-left:25px;
    padding-right:50px;
}
.tea-inside.inside-section h2,
#poststuff .tea-inside.inside-section h2 {
    clear:none;
    font-size:26px;
    line-height:32px;
    margin:0 0 100px;
    padding:0;
}
.tea-inside.inside-section.green h2,
#poststuff .tea-inside.inside-section.green h2 {
    color:#fff;
}
.tea-inside.inside-section ul {
    list-style:none;
    margin:0;
    padding:0;
}
.tea-inside.inside-section p,
.tea-inside.inside-section li {
    font-size:16px;
    line-height:20px;
    margin:10px 0;
}


/*--- [RTE] ---*/
.tea_to_wrap.inside-rte {
    margin-bottom:20px;
}


/*--- [LISTING] ---*/
.tea_to_wrap .listing {
    list-style:disc;
    margin-left:30px;
}
.tea_to_wrap .features-list li {
    box-shadow:0 1px 4px rgba(0,0,0,.4);
    float:left;
    margin:0 1% 10px;
    padding-bottom:25px;
    position:relative;
    width:23%;
}
.tea_to_wrap .features-list li:nth-child(4n+1) {
    clear:left;
}
.tea_to_wrap .features-list h4,
.tea_to_wrap .features-list p {
    padding:0 10px;
}
.tea_to_wrap .features-list p {
    height:74px;
    margin-bottom:0;
}
.tea_to_wrap .features-list pre {
    display:none;
    font-family:courier,arial,sans-serif;
    font-size:14px;
    line-height:14px;
    white-space:pre-wrap;
}
.tea_to_wrap .features-list a {
    background:#f5f5f5;
    bottom:0;
    color:#dfdfdf;
    display:block;
    left:0;
    padding:5px 0;
    position:absolute;
    text-align:center;
    text-decoration:none;
    width:100%;
}
.tea_to_wrap .features-list li:hover a {
    color:#21759b;
}
.tea_to_wrap .features-list li a:hover {
    color:#d54e21;
}


/*--- [BACKGROUND] ---*/
.tea_to_wrap .background hr {
    border:1px solid #ececec;
    margin:5px 0 20px;
}
.tea_to_wrap .background .bg-image label {
    float:left;
    margin:0 10px 10px 0;
    text-align:center;
}
.tea_to_wrap .background .bg-image label img {
    border:5px solid #fff;
    display:block;
}
.tea_to_wrap .background .bg-image label:hover img {
    border:5px solid #e5f7e5;
}
.tea_to_wrap .background .bg-image label.selected img {
    border:5px solid #91d04d;
}
.tea_to_wrap .background .bg-details {
    float:left;
    width:33%;
}
.tea_to_wrap .background .bg-details select {
    float:left;
    width:49%;
}


/*--- [CHECKBOXES] ---*/
.tea_to_wrap .checkall {
    float:right;
    font-size:12px;
    line-height:20px;
}
.tea_to_wrap .inside.checkbox {
    background:#fff;
}
.tea_to_wrap .inside.checkbox .item {
    float:left;
    margin:0 1% 10px 0;
    width:32%;
}
.tea_to_wrap .inside.checkbox .item:nth-child(3n+1) {
    clear:left;
}
.tea_to_wrap .inside.checkbox label {
    background-color:#fff;
    border-left:5px solid #e5f7e5;
    display:block;
    padding:5px;
}
.tea_to_wrap .inside.checkbox label.selected {
    border-left:5px solid #91d04d;
}
.tea_to_wrap .inside.checkbox label:hover {
    background-color:#e5f7e5;
}
.tea_to_wrap .inside.checkbox label img {
    vertical-align:middle;
}


/*--- [RADIOS] ---*/
.tea_to_wrap .inside.radio .radio-image p {
    float:left;
    margin:0 1% 10px;
    position:relative;
    text-align:center;
    width:18%;
}
.tea_to_wrap .inside.radio .radio-image p:nth-child(5n+1) {
    clear:left;
}
.tea_to_wrap .inside.radio .radio-image label {
    border-bottom:5px solid #e5f7e5;
}
.tea_to_wrap .inside.radio .radio-image label.selected {
    border-bottom:5px solid #91d04d;
}
.tea_to_wrap .inside.radio .radio-image label:hover {
    background-color:#e5f7e5;
}
.tea_to_wrap .inside.radio .radio-image input[type="radio"] {
    left:50%;
    margin:-10px 0 0 -10px;
    position:absolute;
    top:50%;
    z-index:1;
}
.tea_to_wrap .inside.radio .radio-image img {
    position:relative;
    z-index:2;
}
.tea_to_wrap .inside.radio .radio-rate p {
    float:left;
    margin:0 1% 10px;
    position:relative;
    text-align:center;
    width:18%;
}
.tea_to_wrap .inside.radio .radio-rate p:nth-child(5n+1) {
    clear:left;
}
.tea_to_wrap .inside.radio .radio-rate label {
    border-bottom:5px solid #e5f7e5;
}
.tea_to_wrap .inside.radio .radio-rate label.selected {
    border-bottom:5px solid #91d04d;
}
.tea_to_wrap .inside.radio .radio-rate label:hover {
    background-color:#e5f7e5;
}
.tea_to_wrap .inside.radio .radio-rate label input {
    display:block;
    margin:0 auto 2px;
}


/*--- [CHECKBOXES & RADIO BUTTONS & IMAGES] ---*/
.tea_to_wrap .inside label.selected {
    color:#91d04d;
}


/*--- [COLORS] ---*/
.tea_to_wrap .inside input.color-picker {
    width:100px;
}


/*--- [IMAGES] ---*/
.tea_to_wrap .inside.image label {
    float:left;
    margin:0 10px 10px 0;
    text-align:center;
}
.tea_to_wrap .inside.image label img {
    border:5px solid #fff;
    display:block;
}
.tea_to_wrap .inside.image label:hover img {
    border:5px solid #e5f7e5;
}
.tea_to_wrap .inside.image label.selected img {
    border:5px solid #91d04d;
}


/*--- [IMAGE-TO-SHOW] ---*/
.tea_to_wrap label .image-to-show {
    position:relative;
}
.tea_to_wrap label .image-to-show span {
    background:#e5f7e5;
    bottom:0;
    color:#000;
    display:none;
    left:0;
    padding:5px;
    position:absolute;
}
.tea_to_wrap label:hover .image-to-show span {
    display:block;
}
.tea_to_wrap label.selected .image-to-show span {
    background:#91d04d;
    color:#fff;
    display:block;
}


/*--- [RADIO] ---*/
.tea_to_wrap .inside .bg-repeat label,
.tea_to_wrap .inside.radio label {
    background-color:#fff;
    display:block;
    padding:5px;
}
.tea_to_wrap .inside .bg-repeat label:hover,
.tea_to_wrap .inside.radio label:hover {
    background-color:#e5f7e5;
}


/*--- [GOOGLE FONT] ---*/
.tea_to_wrap .inside.gfont label {
    float:left;
    height:50px;
    margin:0 10px 10px 0;
    text-align:center;
    width:200px;
}
.tea_to_wrap .inside.gfont label span {
    border:5px solid #fff;
    display:block;
    font-size:18px;
    height:25px;
    line-height:25px;
    max-height:25px;
}
.tea_to_wrap .inside.gfont label:hover span {
    border:5px solid #e5f7e5;
}
.tea_to_wrap .inside.gfont label.selected span {
    border:5px solid #91d04d;
}


/*--- [SOCIALS] ---*/
.tea_to_wrap .inside.social div {
    margin:0 0 10px 0;
}
.tea_to_wrap .inside.social label {
    display:inline-block;
    margin:0 10px 0 0;
    width:50px;
}
.tea_to_wrap .inside.social input[type="text"] {
    display:inline-block;
    margin:0 10px 0 0;
    vertical-align:middle;
    width:300px;
}


/*--- [UPLOADS] ---*/
.tea_to_wrap .inside .upload_image_result {
    margin-top:10px;
    text-align:center;
}
.tea_to_wrap .inside .upload_image_result figure {
    background-image:url(../img/bg-upload.png);
    background-position:0 0;
    display:block;
    margin-bottom:10px;
    opacity:1;
    padding:10px;
    position:relative;
}
.tea_to_wrap .inside .upload_image_result figure img {
    max-width:100%;
    vertical-align:middle;
}
.tea_to_wrap .inside .upload_image_result ul {
    list-style:none;
}
.tea_to_wrap .inside .upload_image_result li {
    background-image:url(../img/bg-upload.png);
    background-position:0 0;
    display:inline-block;
    height:150px;
    margin:0 10px 10px 0;
    opacity:1;
    padding:5px;
    position:relative;
    vertical-align:top;
    width:150px;
}
.tea_to_wrap .inside .upload_image_result li img {
    left:50%;
    max-height:120px;
    max-width:130px;
    padding:5px;
    position:absolute;
    top:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
}
.tea_to_wrap .inside .upload_image_result li.upload-time a {
    background:#fafafa;
    border:5px solid #eee;
    display:block;
    padding:36px 0;
    text-align:center;
    text-decoration:none;
}
.tea_to_wrap .inside .upload_image_result li.upload-time a i {
    display:block;
    font-size:50px;
    line-height:50px;
}
.tea_to_wrap .inside .upload_image_result div.upload-time {
    background-image:url(../img/bg-upload.png);
    padding:5px;
}
.tea_to_wrap .inside .upload_image_result div.upload-time.item-added {
    background-image:none;
    padding:0 5px;
}
.tea_to_wrap .inside .upload_image_result div.upload-time a {
    background:#fafafa;
    border:5px solid #eee;
    display:block;
    font-size:30px;
    padding:38px;
    text-align:center;
    text-decoration:none;
}
.tea_to_wrap .inside .upload_image_result div.upload-time.item-added a {
    background:none;
    border:0;
    font-size:16px;
    padding:5px 0;
}
.tea_to_wrap .inside .upload_image_result .del_item,
.tea_to_wrap .inside .upload_image_result .del_image {
    background-color:#fff;
    color:#bc0b0b;
    display:block;
    font-size:18px;
    font-weight:700;
    height:20px;
    line-height:20px;
    padding:4px 8px;
    position:absolute;
    right:0;
    text-align:center;
    text-decoration:none;
    top:0;
    z-index:4;
}
.tea_to_wrap .del_all_items,
.tea_to_wrap .del_all_images {
    color:#bc0b0b;
    float:right;
    font-size:12px;
    line-height:20px;
    text-decoration:none;
}
.tea_to_wrap .del_all_items:hover,
.tea_to_wrap .del_all_images:hover,
.tea_to_wrap .inside .upload_image_result .del_item:hover,
.tea_to_wrap .inside .upload_image_result .del_image:hover {
    color:red;
}


/*--- [GALLERY] ---*/
.tea_to_wrap .inside.gallery .upload_image_result .item {
    border-bottom:1px solid #eee;
    clear:both;
    margin:0 10px 10px 0;
    opacity:1;
    padding:5px 5px 10px;
    position:relative;
    vertical-align:top;
}
.tea_to_wrap .inside.gallery .upload_image_result .item > img {
    background-image:url(../img/bg-upload.png);
    left:0;
    max-height:140px;
    max-width:150px;
    padding:5px;
    position:absolute;
    top:50%;
    width:150px;
    z-index:2;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    transform:translateY(-50%);
}
.tea_to_wrap .inside.gallery .upload_image_result .item > .gallery-editor {
    display:block;
    margin-left:160px;
    margin-right:30px;
}
.tea_to_wrap .inside.gallery .upload_image_result .item > .gallery-editor textarea {
    height:140px;
}


/*--- [CONNECTION LINKS] ---*/
.tea-connection {
    background-color:#000;
    border:5px solid #f7f7f7;
    color:#fff;
    display:inline-block;
    font-size:20px;
    line-height:30px;
    margin:20px 1%;
    max-width:47%;
    padding:30px;
    position:relative;
    text-decoration:none;
    vertical-align:top;
    width:47%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:all .25s ease;
    -moz-transition:all .25s ease;
    transition:all .25s ease;
}
a.tea-connection:before {
    background-color:#55bb3a;
    bottom:0;
    content:"";
    left:-10px;
    position:absolute;
    top:0;
    width:5px;
}
.tea-connection.is-active,
.tea-connection:focus,
.tea-connection:hover {
    color:#fff;
    -webkit-box-shadow:inset 0 -90px 0 0 rgba(0,0,0,.5);
    -moz-box-shadow:inset 0 -90px 0 0 rgba(0,0,0,.5);
    box-shadow:inset 0 -90px 0 0 rgba(0,0,0,.5);
}
.tea-connection.is-active {
    border-color:#91d04d;
}
.tea-connection .fa-stack {
    background-color:rgba(0,0,0,.1);
    border-left:1px solid rgba(0,0,0,.25);
    line-height:80px;
    margin:0;
    padding:5px 10px;
    position:absolute;
    right:0;
    text-align:center;
    top:0;
}
.tea-connection.is-active .fa-stack,
.tea-connection:focus .fa-stack,
.tea-connection:hover .fa-stack {
    background-color:rgba(0,0,0,0);
}
.tea-connection.tea-dribbble {
    background-color:#ea4c89;
}
.tea-connection.tea-facebook {
    background-color:#3b5998;
}
.tea-connection.tea-flickr {
    background-color:#ff0084;
}
.tea-connection.tea-foursquare {
    background-color:#0072b1;
}
.tea-connection.tea-google-plus {
    background-color:#dd4b39;
}
.tea-connection.tea-instagram {
    background-color:#517fa4;
}
.tea-connection.tea-linkedin {
    background-color:#007bb6;
}
.tea-connection.tea-pinterest {
    background-color:#cb2027;
}
.tea-connection.tea-soundcloud {
    background-color:#ff3a00;
}
.tea-connection.tea-stumbleupon {
    background-color:#EB4823;
}
.tea-connection.tea-tumblr {
    background-color:#32506d;
}
.tea-connection.tea-twitter {
    background-color:#00aced;
}
.tea-connection.tea-vimeo {
    background-color:#aad450;
}
.tea-connection.tea-vk {
    background-color:#45668e;
}
.tea-connection.tea-wordpress {
    background-color:#21759b;
}
.tea-connection.tea-yahoo {
    background-color:#7B0099;
}
.tea-connection.tea-youtube {
    background-color:#bb0000;
}


/*--- [CONNECTION BOX] ---*/
.tea_to_wrap.tea-screen-meta {
    background-color:#f1f1f1;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 3px rgba(0,0,0,0.05);
    display:block;
    margin:0 5px 20px;
    position:relative;
}
.tea_to_wrap .tea-contextual-help-wrap {
    margin:0 0 0 -4px;
    overflow:auto;
    padding:0;
    position:relative;
}
.tea_to_wrap .tea-contextual-help-back {
    background-color:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:0 1px;
    bottom:0;
    left:220px;
    position:absolute;
    right:20px;
    top:0;
}
.postbox .tea_to_wrap.tea_to_review .tea-contextual-help-back {
    left:140px;
}
.tea_to_wrap .tea-contextual-help-columns {
    position:relative;
}
.tea_to_wrap .contextual-help-tabs {
    width:220px;
}
.postbox .tea_to_wrap.tea_to_review .contextual-help-tabs {
    width:140px;
}
.tea_to_wrap .contextual-help-tabs h2 {
    padding-left:16px !important;
}
.tea_to_wrap .contextual-help-tabs h2 img {
    vertical-align:middle;
}
.tea_to_wrap .contextual-help-tabs a {
    color:#55bb3a;
}
.tea_to_wrap .contextual-help-tabs a:focus,
.tea_to_wrap .contextual-help-tabs a:hover {
    color:#000;
}
.tea_to_wrap .contextual-help-tabs .active {
    background:#fff;
    border-left:2px solid #91d04d;
}
.tea_to_wrap .contextual-help-tabs .active a {
    color:#000;
}
.tea_to_wrap.tea_to_review .contextual-help-tabs li {
    text-align:center;
}
.postbox .tea_to_wrap.tea_to_review .contextual-help-tabs li {
    text-align:left;
}
.tea_to_wrap.tea_to_review .contextual-help-tabs li a {
    padding-left:5px;
    position:relative;
}
.tea_to_wrap.tea_to_review .contextual-help-tabs li .details {
    float:right;
}
.tea_to_wrap .contextual-help-tabs hr {
    margin-left:4px;
}
.tea_to_wrap .contextual-help-tabs .button-index {
    color:#fff;
    border-color:#0074a2;
    background:#2ea2cc;
    display:block;
    margin:0 auto 10px;
    -webkit-box-shadow:0 1px 0 rgba(0,0,0,.08);
    -moz-box-shadow:0 1px 0 rgba(0,0,0,.08);
    box-shadow:0 1px 0 rgba(0,0,0,.08);
}
.tea_to_wrap .contextual-help-tabs .button-index:hover {
    background:#0074a2;
}
.tea_to_wrap .contextual-help-tabs .submitsuccess {
    background:transparent;
    border:none;
    color:#3a71bb;
    cursor:pointer;
    display:block;
    margin:0 auto 10px;
}
.tea_to_wrap .contextual-help-tabs .submitsuccess:hover {
    color:#1a4279;
    text-decoration:underline;
}
.tea_to_wrap .contextual-help-tabs .submitdelete {
    background:transparent;
    border:none;
    color:#bc0b0b;
    cursor:pointer;
    display:block;
    margin:0 auto 10px;
}
.tea_to_wrap .contextual-help-tabs .submitdelete:hover {
    color:red;
    text-decoration:underline;
}
.tea_to_wrap .contextual-help-tabs .forms .button.button-primary {
    display:block;
    margin:0 auto;
}
.tea_to_wrap .contextual-help-tabs-wrap {
    padding:15px 20px;
    position:relative;
}


/*--- [NETWORK GLOBAL PROFILE] ---*/
.tea_to_wrap .network-profile {
    border:5px solid #e5f7e5;
    float:left;
    margin:0 20px 10px 0;
    max-height:58px;
}
.tea_to_wrap .network-fullname {
    font-size:18px;
    font-weight:700;
}
.tea_to_wrap .network-counts li {
    background-color:#e5f7e5;
    display:inline-block;
    margin:0 18px 0 0;
    padding:10px 20px;
    text-align:center;
}
.tea_to_wrap .network-counts span {
    color:#91d04d;
    display:block;
}
.tea_to_wrap .network-sep {
    margin-right:20px;
}
.tea_to_wrap .network-recent li {
    border:5px solid #e5f7e5;
    display:inline-block;
    margin:10px;
    position:relative;
    text-align:center;
}
.tea_to_wrap .network-recent.twitter-text li {
    border-width:0 0 2px 0;
    display:block;
    padding-bottom:10px;
    text-align:left;
}
.tea_to_wrap .network-recent a,
.tea_to_wrap .network-recent img {
    display:block;
}
.tea_to_wrap .network-recent a {
    display:inline;
}
.tea_to_wrap .network-recent div {
    background-color:#e5f7e5;
    color:#91d04d;
    height:30px;
    line-height:30px;
}
.tea_to_wrap .network-recent span {
    background:transparent 0 50% no-repeat;
    display:inline-block;
    padding-left:20px;
    padding-right:10px;
}


/*--- [MODAL] ---*/
.tea-modal {
    background:#fff;
    display:none;
    height:70%;
    left:50%;
    overflow:hidden;
    position:fixed;
    text-align:center;
    top:50%;
    width:70%;
    z-index:10001;
    -webkit-box-shadow:0 1px 20px 5px rgba(0,0,0,0.1);
    -moz-box-shadow:0 1px 20px 5px rgba(0,0,0,0.1);
    box-shadow:0 1px 20px 5px rgba(0,0,0,0.1);
    -webkit-transform:translateX(-50%) translateY(-50%);
    -moz-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%);
}
.tea-modal header {
    border-bottom:1px solid #eee;
    height:50px;
    line-height:50px;
    overflow:hidden;
    text-align:left;
}
#poststuff .tea-modal header h2,
.tea-modal header h2 {
    color:#777;
    display:inline-block;
    font-size:22px;
    font-weight:normal;
    line-height:50px;
    margin:0;
    padding-left:20px;
}
.tea-modal header .close {
    border-left:1px solid #eee;
    color:#777;
    display:block;
    float:right;
    font-size:30px;
    line-height:50px;
    padding:0 20px;
    text-decoration:none;
}
.tea-modal header .close:hover {
    background-color:#fafafa;
}
.tea-modal .content-container {
    background:#fff;
    bottom:40px;
    left:40px;
    overflow-y:auto;
    position:absolute;
    right:40px;
    top:90px;
}
.tea-modal.social-modal .content a {
    display:inline-block;
    margin:0 20px 20px 0;
    text-align:center;
    width:200px;
}
.tea-modal .content pre {
    color:#000;
    font-family:inherit;
    margin:0;
    text-align:left;
    white-space:pre-wrap;
}
.tea-modal-backdrop {
    background:#000;
    bottom:0;
    display:none;
    min-height:360px;
    left:0;
    opacity:.7;
    position:fixed;
    right:0;
    top:0;
    z-index:1000;
}
.tea-modal-backdrop.opened {
    display:block;
}


/*--- [RESPONSIVE] ---*/
@media (max-width:1300px) {
    .tea_to_wrap .tea-nav-menus-frame {
        margin-left:0;
    }
    .tea_to_wrap .tea-menu-settings-column {
        display:block;
        float:none;
        margin-bottom:20px;
        margin-left:0;
        width:100%;
    }
    .tea_to_wrap .tea-menu-management-liquid {
        float:none;
    }
}
@media (max-width:990px) {
    .tea_to_wrap .tea-nav-menus-frame {
        margin-left:0;
    }
    .tea_to_wrap .tea-menu-settings-column {
        display:block;
        float:none;
        margin-bottom:20px;
        margin-left:0;
        width:100%;
    }
    .tea_to_wrap .tea-menu-management-liquid {
        float:none;
    }
    .tea_to_wrap #poststuff #post-body.columns-2 {
        margin-right:0;
    }
    .tea_to_wrap #post-body-content {
        float:none;
    }
    .tea_to_wrap #post-body.columns-2 #postbox-container-1 {
        float:none;
        margin-right:0;
        width:100%;
    }
    div.tea_to_message .connect-button {
        display:block;
        left:0;
        margin:5px 0;
        position:relative;
        top:auto;
        -webkit-transform:none;
        -moz-transform:none;
        transform:none;
    }
}
@media (max-width:782px) {
    .teato-mainwrap #wpbody-content .wrap {
        margin-left:-10px;
    }
    /* Homepage */
    .tea-inside.inside-section div.right,
    .tea-inside.inside-section div.left {
        max-width:70%;
        position:relative;
        width:70%;
        z-index:2;
    }
    .tea-inside.inside-section div.right.imaged,
    .tea-inside.inside-section div.left.imaged {
        opacity:.2;
        position:absolute;
        top:50%;
        z-index:1;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
    }
    .tea-inside.inside-section div.left.imaged {
        left:0;
    }
    .tea-inside.inside-section div.right.imaged {
        right:0;
    }
    .tea-inside.inside-section,
    #poststuff .tea-inside.inside-section {
        overflow:hidden;
    }
    /* Modal */
    #poststuff .tea-modal header h2,
    .tea-modal header h2 {
        display:block;
        font-size:14px;
        overflow:hidden;
    }
    /* Connections */
    .tea-connection {
        display:block;
        margin:20px auto;
        max-width:88%;
        padding:20px 15px;
        width:88%;
    }
    .tea-connection .fa-stack {
        height:60px;
        line-height:60px;
        width:40px;
    }
    /* Maps & Elasticsearch */
    .tea_to_wrap .tea-contextual-help-wrap {
        margin-left:0;
    }
    .tea_to_wrap .tea-contextual-help-back {
        left:10px;
        right:10px;
        top:0;
    }
    .tea_to_wrap .contextual-help-tabs {
        float:none;
        padding:0 11px;
        width:auto;
    }
    .tea_to_wrap .contextual-help-tabs ul {
        background-color:#f1f1f1;
        border:1px solid #ccc;
        border-width:1px 0;
        margin:0 -1px;
        padding:3px 1px;
    }
    .tea_to_wrap .contextual-help-tabs li {
        border-width:0 0 2px 0;
        display:inline-block;
    }
    .tea_to_wrap .contextual-help-tabs .active {
        border-bottom:2px solid #91d04d;
        border-left:0;
        margin-right:0;
    }
    .tea_to_wrap .contextual-help-tabs a {
        padding:5px 12px;
    }
    .tea_to_wrap .contextual-help-tabs .active a {
        border:none;
    }
    .tea_to_wrap .contextual-help-tabs hr {
        display:none;
    }
    .tea_to_wrap .contextual-help-tabs .forms {
        position:absolute;
        right:10px;
        top:5px;
        width:350px;
    }
    .tea_to_wrap .contextual-help-tabs .forms form {
        float:right;
        margin:0 5px;
    }
    .tea_to_wrap .contextual-help-tabs .forms .submitdelete {
        margin:5px auto;
    }
    .tea_to_wrap .help-tab-content {
        margin:0;
    }
    /* Social */
    .tea_to_wrap .inside.social label {
        margin-right:1%;
        width:14%;
    }
    .tea_to_wrap .inside.social input[type="text"] {
        margin-right:0;
        width:41%;
    }
}
