/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Responsive CSS
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> :)
 */

@media (max-width:1300px) {
    .tea_to_wrap .tea-nav-menus-frame {
        margin-left:0;
    }
    .tea_to_wrap .tea-menu-settings-column {
        display:block;
        float:none;
        margin-bottom:20px;
        margin-left:0;
        width:100%;
    }
    .tea_to_wrap .tea-menu-management-liquid {
        float:none;
    }
}
@media (max-width:990px) {
    .tea_to_wrap .tea-nav-menus-frame {
        margin-left:0;
    }
    .tea_to_wrap .tea-menu-settings-column {
        display:block;
        float:none;
        margin-bottom:20px;
        margin-left:0;
        width:100%;
    }
    .tea_to_wrap .tea-menu-management-liquid {
        float:none;
    }
    .tea_to_wrap #poststuff #post-body.columns-2 {
        margin-right:0;
    }
    .tea_to_wrap #post-body-content {
        float:none;
    }
    .tea_to_wrap #post-body.columns-2 #postbox-container-1 {
        float:none;
        margin-right:0;
        width:100%;
    }
    div.tea_to_message .connect-button {
        display:block;
        left:0;
        margin:5px 0;
        position:relative;
        top:auto;
        -webkit-transform:none;
        -moz-transform:none;
        transform:none;
    }
}
@media (max-width:900px) {
    #poststuff .tea-inside.inside-section,
    .tea-inside.inside-section {
        margin:0 -17px;
    }
    /* Homepage */
    .tea-inside.inside-section div.right,
    .tea-inside.inside-section div.left {
        float:none;
        margin-left:5%;
        max-width:90%;
        position:relative;
        width:90%;
        z-index:2;
    }
    .tea-inside.inside-section div.right.imaged,
    .tea-inside.inside-section div.left.imaged {
        opacity:.2;
        position:absolute;
        top:50%;
        z-index:1;
        -webkit-transform:translateY(-50%);
        -moz-transform:translateY(-50%);
        transform:translateY(-50%);
    }
    .tea-inside.inside-section div.left.imaged {
        left:0;
    }
    .tea-inside.inside-section div.right.imaged {
        right:0;
    }
    .tea-inside.inside-section,
    #poststuff .tea-inside.inside-section {
        overflow:hidden;
    }
}
@media (max-width:782px) {
    .teato-mainwrap #wpbody-content .wrap {
        margin-left:-10px;
    }
    /* Modal */
    #poststuff .tea-modal header h2,
    .tea-modal header h2 {
        display:block;
        font-size:14px;
        overflow:hidden;
    }
    /* Connections */
    .tea-connection {
        display:block;
        margin:20px auto;
        max-width:88%;
        padding:20px 15px;
        width:88%;
    }
    .tea-connection .fa-stack {
        height:60px;
        line-height:60px;
        width:40px;
    }
    /* Maps & Elasticsearch */
    .tea_to_wrap .tea-contextual-help-wrap {
        margin-left:0;
    }
    .tea_to_wrap .tea-contextual-help-back {
        left:10px;
        right:10px;
        top:0;
    }
    .tea_to_wrap .contextual-help-tabs {
        float:none;
        padding:0 11px;
        width:auto;
    }
    .tea_to_wrap .contextual-help-tabs ul {
        background-color:#f1f1f1;
        border:1px solid #ccc;
        border-width:1px 0;
        margin:0 -1px;
        padding:3px 1px;
    }
    .tea_to_wrap .contextual-help-tabs li {
        border-width:0 0 2px 0;
        display:inline-block;
    }
    .tea_to_wrap .contextual-help-tabs .active {
        border-bottom:2px solid #91d04d;
        border-left:0;
        margin-right:0;
    }
    .tea_to_wrap .contextual-help-tabs a {
        padding:5px 12px;
    }
    .tea_to_wrap .contextual-help-tabs .active a {
        border:none;
    }
    .tea_to_wrap .contextual-help-tabs hr {
        display:none;
    }
    .tea_to_wrap .contextual-help-tabs .forms {
        position:absolute;
        right:10px;
        top:5px;
        width:350px;
    }
    .tea_to_wrap .contextual-help-tabs .forms form {
        float:right;
        margin:0 5px;
    }
    .tea_to_wrap .contextual-help-tabs .forms .submitdelete {
        margin:5px auto;
    }
    .tea_to_wrap .help-tab-content {
        margin:0;
    }
    /* Social */
    .tea_to_wrap .inside.social label {
        margin-right:1%;
        width:14%;
    }
    .tea_to_wrap .inside.social input[type="text"] {
        margin-right:0;
        width:41%;
    }
}
