/*!
 * fields/font.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */

.olz-field-content.font {
    label {
        display: inline-block;
        height: 50px;
        margin: 0 10px 10px 0;
        text-align: center;
        vertical-align: top;
        width: 200px;

        span {
            border: 5px solid @white;
            display: block;
            font-size: 18px;
            height: 25px;
            line-height: 25px;
            max-height: 25px;
        }

        &:hover span {
            border: 5px solid @second;
        }

        &.selected span {
            border: 5px solid @primary;
        }
    }
}
