/*!
 * Tea Theme Options v1.5.0 - "Sogeking no shima deeeeeee - One Piece"
 * Messages plugin
 *
 * Copyright 20xx Take a Tea
 * By Take a Tea <takeatea.com> ;)
 */

body.login div#login .message {
    background: #4d9dd0;
    border: none;
    color: #fff;
    margin: 15px 0 0;
}
body.login div#login #login_error {
    background: #d04d4d;
    border: none;
    color: #fff;
    margin: 15px 0 0;
}
body.login div#login #login_error a {
    color: #fff;
}
