{% set twigtpl = template and template == 'terms' ? 'terms' : 'pages' %}

{% extends "_" ~ twigtpl ~ ".html.twig" %}

{% block id %}{{ id }}_hidden{% endblock %}
{% block class %}olz-hidden{% endblock %}

{% block field %}
    <div class="olz-field-content hiddenfield">
        <input type="hidden" name="{{ id }}" value="{{ val }}" />
        {% if description %}<p class="olz-description">{{ description|raw }}</p>{% endif %}
    </div>
{% endblock %}
